.container {
    position: relative;
    width: 15.78125vw;
    height: 8.854166666666668vw;
    overflow: hidden;
    float: left;
    margin: 0 5px;
    img {
        width: 100%;
        height: auto;
    }
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background-color: rgba(45, 54, 75,0.75);
        
    }
    &:hover {
        &:before {
            background-color: rgba(45, 54, 75,0.45);
        }
        border: 1px solid #fff;
    }
    
    &.active {
        &:before {
            background-color: rgba(0,0,0,0);
        }
        border: 1px solid #fff;
    }

    .iconplay {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1001;
        transform: translateY(-50%) translateX(-50%);
        cursor: pointer;
        img {
            width: 1.5vw;
            height: auto;
        }
    }
}

@media screen and (max-width:767px){
    .container {
        position: relative;
        width: 164px;
        height: 92px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }

        .iconplay {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1001;
            transform: translateY(-50%) translateX(-50%);
            cursor: pointer;
            img {
                width: 13px;
                height: auto;
            }
        }
    }
}