.container {
    position: fixed;
    z-index: 1001;
    right: 2.5vw;
    bottom: 3vw;
    color: #fff;

    ul {
        display: inline-block;
        list-style: none !important;
        li {
            float: left;
            padding: 0 0.521vw;
            img {
                height: 1.250vw;
                width: auto;
            }
            cursor: pointer;
            &:hover {
                opacity: 0.65;
            }
        }
    }
}

@media screen and (max-width:767px){
    .container {
        right: 7.246vw;
        bottom: 10px;
    
        ul {
            li {
                float: left;
                padding: 0 1.208vw;
                img {
                    height: 3.623vw;
                    width: auto;
                }
                cursor: pointer;
                &:hover {
                    opacity: 0.65;
                }
            }
        }
    }
}
/* IPAD  */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
   {
    .container {
        right: 20px;
        bottom: 22px;
    
        ul {
            li {
                float: left;
                padding: 0 5px;
                img {
                    height:15px;
                    width: auto;
                }
                cursor: pointer;
                &:hover {
                    opacity: 0.65;
                }
            }
        }
    }
   }

@media only screen 
   and (min-device-width: 1024px) 
   and (max-device-width: 1366px) 
   and (orientation: landscape) {
    .container {
        right: 20px;
        bottom: 40px;
    
        ul {
            li {
                float: left;
                padding: 0 7px;
                img {
                    height:18px;
                    width: auto;
                }
            }
        }
    }
 }

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    .container {
        bottom: 35px;
        ul {
            li {
                float: left;
                padding: 0 5px;
                img {
                    height:16px;
                    width: auto;
                }
            }
        }
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 768px) 
  and (orientation: portrait) {
    .container {
        bottom: 15px;
        ul {
            li {
                float: left;
                padding: 0 5px;
                img {
                    height:12px;
                    width: auto;
                }
            }
        }
    }
  }