
@font-face {
  font-family: 'HiraKakuProN-W3-AlphaNum';
  src: url('HiraKakuProN-W3-AlphaNum.eot?#iefix') format('embedded-opentype'),  url('HiraKakuProN-W3-AlphaNum.otf')  format('opentype'),
	     url('HiraKakuProN-W3-AlphaNum.woff') format('woff'), url('HiraKakuProN-W3-AlphaNum.ttf')  format('truetype'), url('HiraKakuProN-W3-AlphaNum.svg#HiraKakuProN-W3-AlphaNum') format('svg');
  font-weight: normal;
  font-style: normal;
}
