.container {
    position: fixed;
    z-index: 9998;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    top: 0;
    background-color: #000;
    .button-right {
        float: right;
        position: relative;
        text-align: right;
        .group-buttons {
            margin-top: 10px;
            padding-right: 15px;
            font-family: 'CenturyGothic';
            font-size: 14px;
            &.lg-jp {
                font-family: "HiraKakuProN-W3-AlphaNum";
            }
            .btn-login-container {
                display: inline-block;
                float: left;
            }
            ul {
                &.btn-change-langs {
                    display: inline-block;
                    padding: 0 0 0 15px;
                }
                list-style: none !important;
                margin: 0;
                li {
                    padding-right: 5px;
                    padding-left: 5px;
                    a {
                        cursor: pointer;
                        color: #8E8E8E;
                        &.active {
                            color: #fff;
                        }
                        &:hover {
                            color: #fff !important;
                            span {
                                background: /* gradient can be an image */
                                linear-gradient(
                                to left, 
                                #A91F18 0%,
                                #A91F18 100%
                                )
                                center 
                                bottom
                                transparent
                                no-repeat; 
                                background-size:100% 2px ;
                            }
        
                        }
                        &:focus {
                            color: #fff !important;
                            span {
                                background: /* gradient can be an image */
                                linear-gradient(
                                to left, 
                                #A91F18 0%,
                                #A91F18 100%
                                )
                                center 
                                bottom
                                transparent
                                no-repeat; 
                                background-size:100% 2px ;
                            }
        
                        }
    
                    }
                    &.login-btn {
                        padding-right: 15px;
                        color: #fff;
                        font-family: 'CenturyGothic-Bold';
                        cursor: pointer;
                    }
                    font-family: 'CenturyGothic';
                    &.lg-jp {
                        font-family: "HiraKakuProN-W3-AlphaNum";
                    }
                    list-style: none !important;
                    line-height: 50px;
                    display: block;
                    position: relative;
                    float: left;

                    &.closeBtn {
                        padding-left: 20px;
                        img {
                            width: 22px;
                            height: auto;
                        }
                    }
                }
            }
            
        }
        a.btn-login {
            color: #fff;
            font-family: 'CenturyGothic-Bold';
            font-size: 1.042vw;
            line-height: 2.604vw;
            cursor: pointer;
        }
    }
    .boxMainmenu {
        margin-top: 50px;
        ul {
            padding-left: 0;
            margin-left: 0;
            list-style: none !important;
            li {
                margin-top: 15px;
                margin-bottom: 15px;
                padding-left: 50px;
                width: 100px;
                font-size: 26px;
                line-height: 1.5em;
                font-family: 'CenturyGothic';
                text-transform: uppercase;
                white-space: nowrap;

                &.active {
                    font-family: 'CenturyGothic-bold';
                    background-image:linear-gradient(#982B22, #982B22);
                    background-position: left;
                    
                }
            }
        }
    }
    .textTerm {
        margin-top: 20px;
        color: #fff;
        font-size: 14px;
        font-family: 'CenturyGothic';
        ul {
            display: inline-block;
            list-style: none !important;
            padding-left: 0;
            li {
                float: left;
                padding: 0 15px;
                &:first-child {
                    padding-left: 0;
                }
                img {
                    height: 22px;
                    width: auto;
                }
                cursor: pointer;
                &:hover {
                    opacity: 0.65;
                }
            }
        }
    }
    .footer {
        margin-top: 20px;
        color: #fff;
        ul {
            display: inline-block;
            list-style: none !important;
            padding-left: 0;
            li {
                float: left;
                padding: 0 15px;
                &:first-child {
                    padding-left: 0;
                }
                img {
                    height: 22px;
                    width: auto;
                }
                cursor: pointer;
                &:hover {
                    opacity: 0.65;
                }
            }
        }
    }
}