.root {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: #000;
    .btnclose {
        cursor: pointer;
        img {
            margin-top: 3.021vw;
            margin-right: 3.021vw;
            width: 1.952vw;
            height: auto;
        }
    }
    .header {
        height: 10vh;
    }
    .content {
        top: 10vh;
        height: 80vh;
        right: 0;
        left: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        .arrowLeft {
            img {
                width: 3.646vw;
                height: auto;
            }
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(3.646vw);
            &:hover {
                opacity: 0.75;
            }
            cursor: pointer;
        }
        .arrowRight {
            img {
                width: 3.646vw;
                height: auto;
            }
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) translateX(-3.646vw);
            &:hover {
                opacity: 0.75;
            }
            cursor: pointer;
        }

        .imgcontainer {
            width: auto;
            display: table;
            table-layout: fixed;
            scroll-snap-type: x mandatory;  
            -webkit-overflow-scrolling: touch;
            overflow-x: scroll;
            overflow: auto;
            .imagediv {
                display: table-cell;
                min-width: 100vw;
                scroll-snap-align: start;
                text-align: center;
                position: relative;
            }
        }
        
        
    }
    .footer {
        width: 100vw;
        height: 20vh;
        padding-top: 1.763vw;;
        padding-left: 4vw;
        padding-right: 4vw;
        position: absolute;
        bottom: 0;
        color: #fff;
        .photoname {
            font-size: 1.410vw;
            font-family: 'CenturyGothic';
        }
        .download {
            font-size: 0.729vw;
            font-family: 'CenturyGothic';
            line-height: 1.510vw;
            background-color: #982B22;
            padding: 0.677vw 1.563vw;
            cursor: pointer;
        }
        .price {
            font-size: 1.354vw;
            font-family: 'CenturyGothic';
            .tag {
                font-size: 1.042vw;
            }
            padding-right: 10px;
        }
    }


    .content2 {
        top: 10vh;
        height: 50vh;
        right: 0;
        left: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        .gallery2 {
            scroll-snap-type: x mandatory;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: hidden;
            .item2 {
                scroll-snap-align: center;
                width: 100vw;
                height: 50vh;
                flex: 1;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
        .arrowLeft {
            img {
                width: 30px;
                height: auto;
            }
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(3.646vw);
            &:hover {
                opacity: 0.75;
            }
            cursor: pointer;
        }
        .arrowRight {
            img {
                width: 30px;
                height: auto;
            }
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) translateX(-3.646vw);
            &:hover {
                opacity: 0.75;
            }
            cursor: pointer;
        }
    }
    
    .footer2 {
        width: 100vw;
        height: 40vh;
        padding-top: 30px;
        padding-left: 4vw;
        padding-right: 4vw;
        position: absolute;
        bottom: 0;
        color: #fff;
        .photoname {
            font-size: 14px;
            font-family: 'CenturyGothic';
            text-align: center;
        }
        .download {
            font-size: 14px;
            font-family: 'CenturyGothic';
            line-height: 1.510vw;
            background-color: #982B22;
            padding: 0.677vw 1.563vw;
            cursor: pointer;
        }
        .price {
            font-size: 14px;
            font-family: 'CenturyGothic';
            text-align: center;
            .tag {
                font-size: 14px;
            }
            padding-right: 10px;
        }

        
    }
}

@media screen and (max-width:767px){
    .root {
        .btnclose {
            cursor: pointer;
            img {
                margin-top: 20px;
                margin-right: 20px;
                width: 22px;
                height: auto;
            }
        }
    }
}

/* IPAD  */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
   {
    .root {
        .footer {
            .download {
                font-size: 1vw;
                font-family: 'CenturyGothic';
                line-height: 2vw;
                background-color: #982B22;
                padding: 0.677vw 1.563vw;
                cursor: pointer;
            }
        }
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    .root {
        .content {
            .arrowLeft {
                img {
                    width: 4.5vw;
                    height: auto;
                }
            }
            .arrowRight {
                img {
                    width: 4.5vw;
                    height: auto;
                }
            }
    
            .imgcontainer {
                width: auto;
                display: table;
                table-layout: fixed;
                scroll-snap-type: x mandatory;  
                -webkit-overflow-scrolling: touch;
                overflow-x: scroll;
                overflow: auto;
                .imagediv {
                    display: table-cell;
                    min-width: 100vw;
                    scroll-snap-align: start;
                    text-align: center;
                    position: relative;
                }
            }
            
            
        }
        .footer {
            .download {
                font-size: 1.4vw;
                font-family: 'CenturyGothic';
                line-height: 2vw;
                background-color: #982B22;
                padding: 0.677vw 1.563vw;
                cursor: pointer;
            }
        }
    }
  }
  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 768px) 
  and (orientation: portrait) {
    .root {
        .content {
            .arrowLeft {
                img {
                    width: 4.5vw;
                    height: auto;
                }
            }
            .arrowRight {
                img {
                    width: 4.5vw;
                    height: auto;
                }
            }
    
            .imgcontainer {
                width: auto;
                display: table;
                table-layout: fixed;
                scroll-snap-type: x mandatory;  
                -webkit-overflow-scrolling: touch;
                overflow-x: scroll;
                overflow: auto;
                .imagediv {
                    display: table-cell;
                    min-width: 100vw;
                    scroll-snap-align: start;
                    text-align: center;
                    position: relative;
                }
            }
            
            
        }
        .footer {
            .download {
                font-size: 1.4vw;
                font-family: 'CenturyGothic';
                line-height: 2vw;
                background-color: #982B22;
                padding: 0.677vw 1.563vw;
                cursor: pointer;
            }
            .photoname {
                font-size: 14px;
            }
            .price {
                font-size: 14px;
            }
        }
    }
  }
.gallery {
    scroll-snap-type: x mandatory;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    .item {
        width: 100vw;
        height: 70vh;
        flex: 1;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}
