.root { 
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0px;
    width:  100%;
    text-align: center;
    min-height: 70px;
    padding:30px 20px;
    z-index: 999999;

    .accepttext {
        font-size: 18px;
        font-family: 'CenturyGothic';
        &.lgJP {
            font-family: "HiraKakuProN-W3-AlphaNum";
        }
    }
    .btnAccept {
        margin-top: 10px;
        padding-right: 25px;
        padding-left: 25px;
        border-radius: 0;
        min-width: 150px;
        background-color: #982B22;
        border-color: #982B22;
        font-size: 14px;
        text-transform: uppercase;
        outline: none;
    }
    .link {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: #982B22;
    }
}