.bgprofile {
    background-color: transparent;
    position: relative;
    /*&:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background-color: rgba(0,0,0,0.75);
    }*/
    .container {
        position: relative;


        .boxartist {
            position: relative;
            direction: rtl;
            width: 25%;
            .artistphoto{
                border: solid 1px #982B22;
                padding-top: 1.667vw;
                padding-left: 1.667vw;
                max-width: 378px;
                width: 19.6875vw;
                margin-top: 20vh;
                img {
                    margin-right: -1.667vw;
                    margin-bottom: -1.667vw;
                    max-width: 378px;
                    width: 19.6875vw;
                    height: auto;
                }
            }
        }

        .boxsonglist {
            .songlist {
                margin-top: 25vh;
                padding-left: 2.34375vw;
                padding-right: 7.656250000000001vw;
                .albumname {
                    margin: 0;
                    padding: 0 0 0 5px;
                    h3 {
                        order: 0;
                        margin: 0 10px 0;
                        font-size: 25px;
                        font-family: 'CenturyGothic-Bold';
                        line-height: 2em;
                        color: #fff;
                        margin: 0;
                    }
                }
                .yearselect {
                    text-align: center;
                    position: relative;
                    width: 25vw;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    white-space: nowrap;
                    display: flex;
                    flex-direction: row;
                    text-align: right;
                    float: right;
                    padding-right: 0px;
                    h3 {
                        order: 0;
                        flex: 1;
                        margin: 0 10px 0;
                        font-size: 20px;
                        font-family: 'CenturyGothic';
                        line-height: 2em;
                        color: #fff;
                        text-align: right;
                    }
        
                    select {
                        order: 1;
                        flex: 1;
                        font-size: 20px;
                        height: 44px;
                        background-color: transparent;
                        border: 1px solid #707070;
                        font-family: 'CenturyGothic';
                        color: #fff;
                        text-align: center;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background: transparent;
                        background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                        background-repeat: no-repeat;
                        background-position-x: 98%;
                        background-position-y: 10px;

                        option {
                            font-size: 20px;
                        }
                    }
                }

                .list {
                    display: table;
                    color: #fff;
                    border-collapse: collapse;
                    padding-left: 2.34375vw;
                    margin-top: 5px;
                    margin-left: 0px;
                    .row {
                        display: table-row;
                        border-bottom: 1px solid #707070;
                        .cell {
                            padding: 25px 0;
                            display: table-cell;
                            font-size: 1.2020833333333335vw;
                            font-family: 'CenturyGothic';
                            text-align: center;
                            vertical-align: middle;
                            &:first-child {
                                padding: 25px 0 25px 10px;
                                width: 50px;
                            }
                            &:nth-child(2){
                                width: 50px;
                            }
                            &:nth-child(3){
                                text-align: left;
                                padding-left: 10px;
                            }
                            &:nth-child(4){
                                font-size: 1.2020833333333335vw;
                                font-family: 'CenturyGothic-Bold';
                                text-align: left;
                            }
                            &:last-child {
                                text-align: right;
                            }
                        }
                        &:first-child {
                            border-top: 1px solid #707070;
                        }

                        .download {
                            font-size: 0.729vw;
                            font-family: 'CenturyGothic';
                            line-height: 1.510vw;
                            background-color: #982B22;
                            padding: 0.677vw 1.563vw;
                            cursor: pointer;
                        }
                        .price {
                            padding-right: 15px;
                            padding-left: 15px;
                            font-size: 1.2020833333333335vw;
                            font-family: 'CenturyGothic';
                            .tag {
                                font-size: 1.042vw;
                            }
                        }
                        .duration {
                            padding-right: 15px;
                            padding-left: 15px;
                            font-size: 1.2020833333333335vw;
                            font-family: 'CenturyGothic-Bold';
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px){
    .bgprofile {
        .container {
            .boxartist {
                direction:unset;
                text-align: center;
                width: 100%;
                .artistphoto{
                    border: solid 1px #982B22;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 20px;
                    max-width: 209px;
                    width: 209px;
                    margin-top: 20vh;
                    img {
                        margin-right: -20px;
                        margin-bottom: -20px;
                        max-width: 209px;
                        width: 209px;
                        height: auto;
                    }
                }
            }
            .boxsonglist {
                min-height: unset;
                .songlist {
                    margin-top: 50px;
                    padding: 0px;
                    margin-left: 30px;
                    margin-right: 30px;
                    .albumname {
                        margin: 0;
                        padding: 0px;
                        text-align: left;
                        h3 {
                            order: 0;
                            margin: 0 10px 0;
                            font-size: 16px;
                            font-family: 'CenturyGothic-Bold';
                            color: #fff;
                            margin: 0;
                        }
                    }
                    .yearselect {
                        width: 50%;
                        display: flex;
                        padding: 0;
                        h3 {
                            order: 0;
                            flex: 1;
                            margin: 0;
                            padding-right: 10px;
                            font-size: 15px;
                            font-family: 'CenturyGothic';
                            color: #fff;
                            text-align: right;
                            text-transform: uppercase;
                        }
            
                        select {
                            order: 1;
                            flex: 1;
                            height: 30px;
                            line-height: 1em;
                            font-size: 15px;
                            background-color: transparent;
                            border: none;
                            font-family: 'CenturyGothic';
                            color: #fff;
                            text-align: center;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            background: transparent;
                            background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                            background-repeat: no-repeat;
                            background-position-x: 98%;
                            background-position-y: 2px;
                            -webkit-appearance: none;
                            
                            &:focus {
                                border: none;
                                box-shadow: none;
                            }
    
                            option {
                                font-size: 15px;
                            }
                        }
                    }
                    .list {
                        padding-left: 20px;
                        .row {
                            display: table-row;
                            border-bottom: 1px solid #707070;
                            .cell {
                                padding: 20px 0;
                                display: table-cell;
                                font-size: 14px;
                                font-family: 'CenturyGothic';
                                text-align: center;
                                vertical-align: middle;
                                &:first-child {
                                    padding: 15px 0 15px 0px;
                                    width: 50px;
                                }
                                &:nth-child(2){
                                    width: auto;
                                    text-align: left;
                                    p {
                                        margin: 0;
                                        &.bold {
                                            font-family: 'CenturyGothic-bold';
                                        }
                                    }
                                }
                                &:last-child {
                                    text-align: right;

                                }
                            }
                            
                            &:first-child {
                                border-top: 1px solid #707070;
                            }
    
                            .downloadIcon {
                                color: #982B22;
                                cursor: pointer;
                                font-size: 20px;
                            }
                            .price {
                                padding-right: 15px;
                                padding-left: 15px;
                                font-size: 14px;
                                font-family: 'CenturyGothic';
                                .tag {
                                    font-size: 1.042vw;
                                }
                            }
                            .duration {
                                padding-right: 15px;
                                padding-left: 15px;
                                font-size: 9px;
                                font-family: 'CenturyGothic';
                            }
                        }
                    }
                }
            }
        }
    }
}

/* IPAD  */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
   {
    .bgprofile {
        .container {
            .boxsonglist{
                .songlist {
                    .list {
                        .row {
                            .download {
                                font-size: 1.2vw;
                                font-family: 'CenturyGothic';
                                line-height: 1.510vw;
                                background-color: #982B22;
                                padding: 0.677vw 1.563vw;
                            }
                        }
                    }
                }
            }
            
        }
    }
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    .bgprofile {
        .container {
            .boxartist {
                position: relative;
                direction: unset;
                width: 100%;
                .artistphoto{
                    border: solid 1px #982B22;
                    padding-top: 1.667vw;
                    padding-left: 1.667vw;
                    max-width: 378px;
                    width: 70vw;
                    margin-top: 20vh;
                    margin-left: auto;
                    margin-right: auto;
                    img {
                        margin-right: -1.667vw;
                        margin-bottom: -1.667vw;
                        max-width: 378px;
                        width: 70vw;
                        height: auto;
                    }
                }
            }
            .boxsonglist{
                width: 100%;
                .songlist {
                    margin-top: 50px;
                    padding-left: 50px;
                    padding-right: 50px;
                    .list {
                        .row {
                            .cell {
                                padding: 30px 0;
                                vertical-align: middle;
                                font-size: 1.5vw;
                                
                            }
                            .price {
                                padding-right: 15px;
                                padding-left: 15px;
                                font-size: 1.5vw;
                                .tag {
                                    font-size: 1.3w;
                                }
                            }
                            .duration {
                                padding-right: 15px;
                                padding-left: 15px;
                                font-size: 1.5vw;
                            }
                            .download {
                                font-size: 1.5vw;
                                font-family: 'CenturyGothic';
                                line-height: 2vw;
                                background-color: #982B22;
                                padding: 0.677vw 1.563vw;
                            }
                        }
                    }
                }
            }
            
        }
    }
  }

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 768px) 
  and (orientation: portrait) {
    .bgprofile {
        .container {
            .boxartist {
                position: relative;
                direction: unset;
                width: 100%;
                .artistphoto{
                    border: solid 1px #982B22;
                    padding-top: 1.667vw;
                    padding-left: 1.667vw;
                    max-width: 378px;
                    width: 70vw;
                    margin-top: 20vh;
                    margin-left: auto;
                    margin-right: auto;
                    img {
                        margin-right: -1.667vw;
                        margin-bottom: -1.667vw;
                        max-width: 378px;
                        width: 70vw;
                        height: auto;
                    }
                }
            }
            .boxsonglist{
                width: 100%;
                .songlist {
                    margin-top: 50px;
                    padding-left: 50px;
                    padding-right: 50px;
                    .yearselect {
                        width: 30vw;
                    }
                    .list {
                        .row {
                            .cell {
                                padding: 30px 0;
                                vertical-align: middle;
                                font-size: 14px;
                                &:nth-child(4){
                                    font-size: 12px;
                                }
                            }
                            .price {
                                padding-right: 15px;
                                padding-left: 15px;
                                font-size: 14px;
                                .tag {
                                    font-size: 12px;
                                }
                            }
                            .duration {
                                padding-right: 15px;
                                padding-left: 15px;
                                font-size: 12px;
                            }
                            .download {
                                font-size: 12px;
                                font-family: 'CenturyGothic';
                                line-height: 2vw;
                                background-color: #982B22;
                                padding: 0.677vw 1.563vw;
                            }
                        }
                    }
                }
            }
            
        }
    }
  }