.container {
    padding: 5vw 7.083vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100%;

    .boxred {
        background-color: #982B22;
        color: #fff;
        width: 100%;
        text-align: left;
        padding: 1vw 2.813vw;
        order: 0;
        h2 {
            color: #fff;
            text-transform: uppercase;
            font-family: 'CenturyGothic';
            font-size: 2.7vw;
            &.lg-jp {
                font-family: "HiraKakuProN-W3-AlphaNum";
                font-size: 1.75vw;
            }
        }
    }
    .boxtext {
        order: 1;
        flex: 1;
        overflow: auto;
        text-align: left;
        font-family: 'CenturyGothic';
        font-size: 13px;
        color: #fff;
        padding-top: 3.208vw;
        p {
            text-indent: 0px;
            padding-right: 3vw;
        }
        ul {
            list-style: decimal !important;
            padding-bottom: 10px;
            padding-left: 0px;
            min-height: unset;
            line-height: unset;
            li {
                font-family: 'CenturyGothic';
                list-style: decimal;
                line-height: 1.5em;
                font-size: 13px;
                color: #fff;
                padding-left: 0px;
                cursor: default;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}


/* DivTable.com */
.divTable{
	display: table;
	width: 99%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	display: table-header-group;
    font-weight: bold;
    text-align: center;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

@media screen and (max-width:767px){
    .container {
        padding: 10vw 5vw 5vw;
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: 100%;
    
        .boxred {
            background-color: #982B22;
            color: #fff;
            width: 100%;
            text-align: left;
            padding: 10px 10px;
            order: 0;
            h2 {
                font-size: 16px;
                margin: 0;
                line-height: 1.5em;
                &.lg-jp {
                    font-size: 16px;
                }
            }
        }
        .boxtext {
            font-size: 14px;
            padding-top: 10px;
            padding-left: 10px;
            p {
                text-indent: 0px;
                padding-right: 10px;
                
            }
        }
    }
}
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {
    .container {
        .boxred {
            background-color: #982B22;
            color: #fff;
            width: 100%;
            text-align: left;
            padding: 1vw 2.813vw;
            order: 0;
            h2 {
                font-size: 2.7vw;
                line-height: 2em;
                &.lg-jp {
                    font-family: "HiraKakuProN-W3-AlphaNum";
                    font-size: 1.75vw;
                }
            }
        }
        .boxtext {
            font-size: 13px;
        }
    }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 768px) 
and (orientation: portrait) {
    .container {
        .boxred {
            background-color: #982B22;
            color: #fff;
            width: 100%;
            text-align: left;
            padding: 1vw 2.813vw;
            order: 0;
            h2 {
                font-size: 2.7vw;
                line-height: 2em;
                &.lg-jp {
                    font-family: "HiraKakuProN-W3-AlphaNum";
                    font-size: 1.75vw;
                }
            }
        }
        .boxtext {
            font-size: 13px;
        }
    }
}