.bgprofile {
    background-color: transparent;
    position: relative;
    background-color: #000;
    hr {
        border-color: #707070;
    }
    .container {
        position: relative;
        padding-top: 10.500vw;
        width: 53.125vw;
        max-width: 1020px;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        padding-bottom: 10vh;
        h2 {
            color: #fff;
            padding: 0;
            font-size: 1.406vw;
            font-family: 'CenturyGothic';
            text-align: left;
            font-weight: normal;
            margin-bottom: 1vw;
        }
        .formgroup {
            label {
                color: #707070;
                font-size : 0.938vw;
                font-family : 'CenturyGothic';
            }
        }
        .termtext {
            color: #fff;
            font-size : 1.042vw;
            font-family : 'CenturyGothic';
            margin: 0;
            a {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .btnSend {
            font-size: 1vw;
                font-family: 'CenturyGothic';
                line-height: 1.510vw;
                background-color: transparent;
                padding: 0.677vw 4vw;
                cursor: pointer;
        }
        button[disabled] {
            -webkit-filter: grayscale(75%);
            filter: grayscale(75%);
        }
    }
    .footer {
        height: 6.463vw;
        position: relative;
        .copyright {
            padding-left: 6.927vw;
            display: table;
            img {
                width: auto;
                height: 3.906vw;
                display: table-cell;
            }
            p{
                color: #fff;
                font-size: 1.042vw;
                font-family: 'CenturyGothic';
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

@media screen and (max-width:767px){
    .bgprofile {
        .container {
            width: 100%;
            padding-left: 35px;
            padding-right: 55px;
            padding-bottom: 35px;
            padding-top: 80px;
            h2 {
                color: #fff;
                padding: 0;
                font-size: 16px;
                line-height: 1.2em;
                font-family: 'CenturyGothic-bold';
                text-align: left;
                font-weight: normal;
                margin-bottom: 0px;
            }
            .formgroup {
                label {
                    font-size : 14px;
                }
            }
            .termtext {
                font-size : 14px;
            }
            .btnSend {
                font-size: 15px;
                padding: 5px 50px;
            }
        }
        .footer {
            height: 88px;
            position: relative;
            .copyright {
                padding-left: 0px;
                display: table;
                img {
                    width: auto;
                    height: 11.353vw;
                    display: table-cell;
                }
                p{
                    color: #fff;
                    font-size: 2.657vw;
                    font-family: 'CenturyGothic';
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}

/* IPAD  */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
   {
    .bgprofile {
        .container {
            h2 {
                font-size: 2vw;
                line-height: 1.4em;
            }
            .btnSend {
                font-size: 1.5vw;
            }
        }
    }
}


@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    .bgprofile {
        .hrLine {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 8.5vw;
        }
        .footer {
            height: 7.5vw;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            .copyright {
                padding-left: 6.927vw;
                display: table;
                img {
                    width: auto;
                    height: 3.906vw;
                    display: table-cell;
                }
                p{
                    color: #fff;
                    font-size: 1.042vw;
                    font-family: 'CenturyGothic';
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 768px) 
  and (orientation: portrait) {
    .bgprofile {
        .hrLine {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 8.5vw;
        }
        .container {
            position: relative;
            padding-top: 10h;
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 10vh;
            h2 {
                font-size: 20px;
                line-height: 1.2em;
            }
            .formgroup {
                label {
                    font-size : 14px;
                }
            }
            .termtext {
                font-size : 12px;
                a {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .btnSend {
                font-size: 14px;
            }
        }
        .footer {
            height: 7.5vw;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            .copyright {
                padding-left: 20px;
                display: table;
                img {
                    width: auto;
                    height: 40px;
                    display: table-cell;
                }
                p{
                    font-size: 12px;
                    white-space: nowrap;
                }
            }
        }
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    .bgprofile {
        .hrLine {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 8.5vw;
        }
        .container {
            position: relative;
            padding-top: 10h;
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 10vh;
            h2 {
                font-size: 20px;
                line-height: 1.2em;
            }
            .formgroup {
                label {
                    font-size : 14px;
                }
            }
            .termtext {
                font-size : 12px;
                a {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .btnSend {
                font-size: 14px;
            }
        }
        .footer {
            height: 7.5vw;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            .copyright {
                padding-left: 20px;
                display: table;
                img {
                    width: auto;
                    height: 40px;
                    display: table-cell;
                }
                p{
                    font-size: 12px;
                    white-space: nowrap;
                }
            }
        }
    }
}