.container {
    padding-left: 5.990vw;
    margin-right: 8vw;
    color: #fff; 
    height: 80vh;
    position: relative;
    overflow: hidden;
    .wrapScroll {
        display: block;


        .purchaseItem {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 0;
            border-bottom: 1px solid #707070;

            p {
                margin: 0;
                font-family: 'CenturyGothic';
                color: #D3D3D3;
                font-size: 0.938vw;
                .header {
                    color: #fff;
                    font-family: 'CenturyGothic';
                }
                .headerBold {
                    color: #fff;
                    font-family: 'CenturyGothic-Bold';
                }
            }

            .btnView {
                margin-top: 15px;
                font-size: 0.938vw;
                font-family: 'CenturyGothic-Bold';
                cursor: pointer;
                a {

                    &:hover {
                        color: #fff !important;
                        span {
                            background: /* gradient can be an image */
                            linear-gradient(
                            to left, 
                            #A91F18 0%,
                            #A91F18 100%
                            )
                            center 
                            bottom
                            transparent
                            no-repeat; 
                            background-size:100% 1px ;
                        }
    
                    }
                }
                
            }
        }
        
    }
}
@media screen and (max-width:767px){
    .container {
        padding-left: 50px;
        margin-right: 50px;
        .wrapScroll {
            .purchaseItem {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 0;
    
                p {
                    font-size: 14px;
                }
    
                .btnView {
                    margin-top: 15px;
                    font-size: 12px;
                }
            }
            
        }
    }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 768px) 
and (orientation: portrait){ 
    .container {
        padding-left: 5.990vw;
        margin-right: 8vw;
        .wrapScroll {
            .purchaseItem {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 0;
    
                p {
                    font-size: 14px;
                }
    
                .btnView {
                    margin-top: 15px;
                    font-size: 12px;
                }
            }
            
        }
    }
}
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape){
    .container {
        padding-left: 5.990vw;
        margin-right: 8vw;
        .wrapScroll {
            .purchaseItem {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 0;
    
                p {
                    font-size: 14px;
                }
    
                .btnView {
                    margin-top: 15px;
                    font-size: 12px;
                }
            }
            
        }
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) { 
    .container {
        padding-left: 5.990vw;
        margin-right: 8vw;
        .wrapScroll {
            .purchaseItem {
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 0;
    
                p {
                    font-size: 14px;
                }
    
                .btnView {
                    margin-top: 15px;
                    font-size: 12px;
                }
            }
            
        }
    }
}