.root {
    background-color: transparent;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10001;

    *:focus {
        outline: none;
    }
    * {
        outline: none;
    }

    .formEl {
        overflow: hidden;
        overflow-y: auto;
    }

    .thankLightbox {
        color: #fff;
        position: relative;
        h4 {
            font-family : 'CenturyGothic';
            font-size: 1.510vw;
        }
        p {
            font-family : 'CenturyGothic';
            font-size: 0.938vw;
            letter-spacing: 1px;
        }
        .backTomain {
            margin-top: 2.083vw;
            span {
                color: #fff;
                font-family: 'CenturyGothic-Bold';
                cursor: pointer;
                font-size: 0.938vw;
                padding-left: 5px;
            }
            i {
                color: #fff;
            }
        }
    }

    .birthday {
        width: 80%;
        padding-top: 20px;
        font-family : 'CenturyGothic';
        font-weight: normal;
        .row {
            padding: 0;
            margin: 0;
            .col {
                padding: 0;
                margin: 0;
            }
        }
        label {
            font-size: 0.938vw;
            font-family: 'CenturyGothic';
            font-weight: normal;
        }
        select {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            background-color: transparent;
            border: none;
            border-bottom:  1px solid #707070;
            border-radius: 0;
            padding: 0;
            font-size: 0.938vw;
            font-family: 'CenturyGothic';
            color:#fff;
        }
    }

    .remarkText {
        font-size: 0.938vw;
        font-family: 'CenturyGothic';
        font-weight: normal;
    }
    .textAccept {
        margin-top: 5px;
        font-size: 0.938vw;
        font-family: 'CenturyGothic';
        font-weight: normal;
        span {
            font-size: 0.729vw;
            letter-spacing: 1px;
        }
    }
    .textDate {
        font-size: 0.938vw;
        font-family: 'CenturyGothic';
        font-weight: normal;
        margin: 0;
        color: #ffffff;
    }
    .btnRegister {
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 0;
        background-color: #982B22;
        border-color: #982B22;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 0.9vw;
        text-transform: uppercase;
    }
    .btnRegister2 {
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 0;
        background-color: #982B22;
        border-color: #982B22;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 0.9vw;
        text-transform: uppercase;
    }
    .btnSavechange {
        margin-top: 10px;
        padding-right: 25px;
        padding-left: 25px;
        border-radius: 0;
        background-color: #982B22;
        border-color: #982B22;
        font-size: 0.9vw;
        text-transform: uppercase;
    }

    .btnHistory {
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        padding: 15px 0;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        i {
            float: right;
        }
        &:hover {
            color: #707070;
        }
    }

    .logoutBtn {
        font-family: 'CenturyGothic-Bold';
        font-size: 1.042vw;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: underline;
        color : #fff;
        text-underline-position: under;
    }

    .loginPanel {
        width: 36.458vw;
        background-color: #000;
        height: 100vh;
        right: 0;
        position: fixed;

        .btnclose {
            cursor: pointer;
            img {
                margin-top: 3.021vw;
                margin-right: 1.8vw;
                width: 1.952vw;
                height: auto;
            }
        }

        .container {
            padding-left: 5.990vw;
            padding-right: 5vw;
            color: #fff;
            p.header {
                font-size : 1.302vw;
                font-family : 'CenturyGothic';
            }
            .forgotGroup {
                margin-top: 5vh;
                .forgotLink {
                    color : #707070;
                    font-size : 12px;
                    font-family : 'CenturyGothic';
                    a {
                        color : #707070;
                        text-decoration: underline;
                        text-underline-position: under;
                        cursor: pointer;
                        &:hover {
                            color : #fff;
                        }
                    }
                }
                .btnSend {
                    margin-top: 10px;
                    border-radius: 0;
                    background-color: #982B22;
                    border-color: #982B22;
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }

            .gropotherLink {
                margin-top: 3.906vw;
                .textothersocial {
                    text-transform: uppercase;
                    font-size : 0.938vw;
                    font-family : 'CenturyGothic';
                }
                .textothersocial2 {
                    font-size : 0.838vw;
                    font-family : 'CenturyGothic';
                }
                .socialbtn {
                    margin: 0;
                    padding: 0.260vw;
                    button {
                        margin: 0 0.521vw;
                        border-radius: 0;
                        text-transform: uppercase;
                        background-repeat: no-repeat;
                        background-size: 1.302vw;
                        background-position: 0.8vw center;
                        font-size : 0.729vw;
                        font-family : 'CenturyGothic';
                        padding-left: 2.3vw;
                        text-align: left;
                        min-height: 2.240vw;
                        height: 2.240vw;

                        &.disconnect {
                            text-transform: none;
                            /*font-size : 0.729vw;*/
                        }

                        &.btnfb {
                            background-image: url('img/icon-fb@2x.png');
                            background-color: #3A559F;
                            color: #fff;
                            border-color: #3A559F;
                        }
                        &.btngg {
                            background-image: url('img/icon-g@2x.png');
                            background-color: #FFFFFF;
                            color: #707070;
                            border-color: #FFFFFF;
                        }
                        &.btnline {
                            background-image: url('img/icon-line@2x.png');
                            background-color: #00B900;
                            color: #fff;
                            border-color: #00B900;
                        }
                        &.btntw {
                            background-image: url('img/icon-twitter@2x.png');
                            background-color: #1EA2F2;
                            
                            color: #fff;
                            border-color: #1EA2F2;
                        }
                    }
                }
            }
            .footerLink {
                margin-top: 1.906vw;
                hr {
                    border-top: 1px solid #707070;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
                p {
                    margin-top: 0.521vw;
                    font-size: 14px;
                    font-family: 'CenturyGothic-Bold';
                    color : #fff;
                    a {
                        text-transform: uppercase;
                        text-decoration: underline;
                        color : #fff;
                        text-underline-position: under;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px){
    .root {
        .thankLightbox {
            color: #fff;
            position: absolute;
            max-width: 90vw;
            top:30vh;
            h4 {
                font-family : 'CenturyGothic';
                font-size: 20px;
            }
            p {
                font-family : 'CenturyGothic';
                font-size: 16px;
                letter-spacing: 1px;
            }
            .backTomain {
                margin-top: 2.083vw;
                span {
                    color: #fff;
                    font-family: 'CenturyGothic-Bold';
                    cursor: pointer;
                    font-size: 14px;
                    padding-left: 5px;
                }
                i {
                    color: #fff;
                }
            }
        }
        .loginPanel {
            width: 100vw;
            .btnclose {
                cursor: pointer;
                img {
                    margin-top: 15px;
                    margin-right: 25px;
                    width: 22px;
                    height: auto;
                }
            }
    
            .container {
                padding-left: 5.990vw;
                padding-right: 5vw;
                color: #fff;
                p.header {
                    font-size : 14px;
                    font-family : 'CenturyGothic';
                }
                .forgotGroup {
                    margin-top: 5vh;
                    .forgotLink {
                        color : #707070;
                        font-size : 14px;
                        font-family : 'CenturyGothic';
                        a {
                            color : #707070;
                            text-decoration: underline;
                            text-underline-position: under;
                            cursor: pointer;
                            &:hover {
                                color : #fff;
                            }
                        }
                    }
                    .btnSend {
                        margin-top: 10px;
                        border-radius: 0;
                        background-color: #982B22;
                        border-color: #982B22;
                        padding-left: 50px;
                        padding-right: 50px;
                    }
                }
    
                .gropotherLink {
                    margin-top: 20px;
                    .textothersocial {
                        text-transform: uppercase;
                        font-size : 12px;
                        font-family : 'CenturyGothic';
                    }
                    .textothersocial2 {
                        font-size : 12px;
                        font-family : 'CenturyGothic';
                    }
                    .socialbtn {
                        margin: 0;
                        padding: 10px;
                        button {
                            margin: 0 5px;
                            border-radius: 0;
                            text-transform: uppercase;
                            background-repeat: no-repeat;
                            background-size: 20px;
                            background-position: 10px center;
                            font-size : 12px;
                            font-family : 'CenturyGothic';
                            padding-left: 35px;
                            text-align: left;
                            min-height: 35px;
                            height: 35px;
                            max-width: 250px;
    
                            &.btnfb {
                                background-image: url('img/icon-fb@2x.png');
                                background-color: #3A559F;
                                color: #fff;
                                border-color: #3A559F;
                            }
                            &.btngg {
                                background-image: url('img/icon-g@2x.png');
                                background-color: #FFFFFF;
                                color: #707070;
                                border-color: #FFFFFF;
                            }
                            &.btnline {
                                background-image: url('img/icon-line@2x.png');
                                background-color: #00B900;
                                color: #fff;
                                border-color: #00B900;
                            }
                            &.btntw {
                                background-image: url('img/icon-twitter@2x.png');
                                background-color: #1EA2F2;
                                
                                color: #fff;
                                border-color: #1EA2F2;
                            }
                        }
                    }
                }
                .footerLink {
                    margin-top: 1.906vw;
                    hr {
                        border-top: 1px solid #707070;
                    }
                    p {
                        margin-top: 0.521vw;
                        font-size: 14px;
                        font-family: 'CenturyGothic-Bold';
                        color : #fff;
                        a {
                            text-transform: uppercase;
                            text-decoration: underline;
                            color : #fff;
                            text-underline-position: under;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .birthday {
            width: 80%;
            padding-top: 20px;
            font-family : 'CenturyGothic';
            font-weight: normal;
            .row {
                padding: 0;
                margin: 0;
                .col {
                    padding: 0;
                    margin: 0;
                }
            }
            label {
                font-size: 14px;
            }
            select {
                font-size: 14px;
            }
        }
        .remarkText {
            font-size: 12px;
        }
        .textAccept {
            margin-top: 5px;
            font-size: 12px;
            font-family: 'CenturyGothic';
            font-weight: normal;
            span {
                font-size:10px;
                letter-spacing: 1px;
            }
        }
        .btnRegister {
            font-size: 12px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .btnRegister2 {
            font-size: 12px;
        }
        .btnSavechange {
            font-size: 12px;
        }
        .textDate {
            font-size: 12px;
        }
        .logoutBtn {
            font-size: 14px;
        }
        
    }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 768px) 
and (orientation: portrait){ 
    .root {
        .loginPanel {
            width: 50vw;
           .container {
               p.header {
                   font-size: 16px;
               }
               .gropotherLink {
                   .socialbtn {
                       width: 100%;
                       button {
                            background-size: 20px;
                            background-position: 10px center;
                            padding-left: 35px;
                           font-size: 12px;
                           min-height: 34px;
                           max-width: 250px;
                           &.btngg {
                            background-size: 15px;
                            background-position: 12px center;
                            }
                            &.btntw {
                                background-size: 15px;
                                background-position: 12px center;
                            }
                       }
                   }
               }
           } 
        }
        .thankLightbox {
            color: #fff;
            position: relative;
            h4 {
                font-family : 'CenturyGothic';
                font-size: 22px;
            }
            p {
                font-family : 'CenturyGothic';
                font-size: 16px;
                letter-spacing: 1px;
            }
            .backTomain {
                margin-top: 2.083vw;
                span {
                    color: #fff;
                    font-family: 'CenturyGothic-Bold';
                    cursor: pointer;
                    font-size: 14px;
                    padding-left: 5px;
                }
                i {
                    color: #fff;
                }
            }
        }
        .birthday {
            width: 80%;
            padding-top: 20px;
            font-family : 'CenturyGothic';
            font-weight: normal;
            .row {
                padding: 0;
                margin: 0;
                .col {
                    padding: 0;
                    margin: 0;
                }
            }
            label {
                font-size: 14px;
            }
            select {
                font-size: 14px;
            }
        }
        .remarkText {
            font-size: 12px;
        }
        .textAccept {
            margin-top: 5px;
            font-size: 12px;
            font-family: 'CenturyGothic';
            font-weight: normal;
            span {
                font-size:10px;
                letter-spacing: 1px;
            }
        }
        .btnRegister {
            font-size: 12px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .btnRegister2 {
            font-size: 12px;
        }
        .btnSavechange {
            font-size: 12px;
        }
        .textDate {
            font-size: 12px;
        }
        .logoutBtn {
            font-size: 14px;
        }

    }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape){ 
    .root {
        .loginPanel {
           .container {
               .gropotherLink {
                   .socialbtn {
                       width: 100%;
                       button {
                            background-size: 20px;
                            background-position: 10px center;
                            padding-left: 35px;
                           font-size: 12px;
                           min-height: 34px;
                           max-width: 250px;
                           &.btngg {
                            background-size: 15px;
                            background-position: 12px center;
                            }
                            &.btntw {
                                background-size: 15px;
                                background-position: 12px center;
                            }
                       }
                   }
               }
           } 
        }
        .thankLightbox {
            color: #fff;
            position: relative;
            h4 {
                font-family : 'CenturyGothic';
                font-size: 22px;
            }
            p {
                font-family : 'CenturyGothic';
                font-size: 16px;
                letter-spacing: 1px;
            }
            .backTomain {
                margin-top: 2.083vw;
                span {
                    color: #fff;
                    font-family: 'CenturyGothic-Bold';
                    cursor: pointer;
                    font-size: 14px;
                    padding-left: 5px;
                }
                i {
                    color: #fff;
                }
            }
        }
        .birthday {
            width: 80%;
            padding-top: 20px;
            font-family : 'CenturyGothic';
            font-weight: normal;
            .row {
                padding: 0;
                margin: 0;
                .col {
                    padding: 0;
                    margin: 0;
                }
            }
            label {
                font-size: 14px;
            }
            select {
                font-size: 14px;
            }
        }
        .remarkText {
            font-size: 12px;
        }
        .textAccept {
            margin-top: 5px;
            font-size: 12px;
            font-family: 'CenturyGothic';
            font-weight: normal;
            span {
                font-size:10px;
                letter-spacing: 1px;
            }
        }
        .btnRegister {
            font-size: 12px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .btnRegister2 {
            font-size: 12px;
        }
        .btnSavechange {
            font-size: 12px;
        }
        .textDate {
            font-size: 12px;
        }
        .logoutBtn {
            font-size: 14px;
        }

    }
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) { 
    .root {
        .loginPanel {
           .container {
               .gropotherLink {
                   .socialbtn {
                       width: 100%;
                       button {
                            background-size: 20px;
                            background-position: 10px center;
                            padding-left: 35px;
                           font-size: 12px;
                           min-height: 34px;
                           max-width: 250px;
                           &.btngg {
                            background-size: 15px;
                            background-position: 12px center;
                            }
                            &.btntw {
                                background-size: 15px;
                                background-position: 12px center;
                            }
                       }
                   }
               }
           } 
        }
        .thankLightbox {
            color: #fff;
            position: relative;
            h4 {
                font-family : 'CenturyGothic';
                font-size: 22px;
            }
            p {
                font-family : 'CenturyGothic';
                font-size: 16px;
                letter-spacing: 1px;
            }
            .backTomain {
                margin-top: 2.083vw;
                span {
                    color: #fff;
                    font-family: 'CenturyGothic-Bold';
                    cursor: pointer;
                    font-size: 14px;
                    padding-left: 5px;
                }
                i {
                    color: #fff;
                }
            }
        }
        .birthday {
            width: 80%;
            padding-top: 20px;
            font-family : 'CenturyGothic';
            font-weight: normal;
            .row {
                padding: 0;
                margin: 0;
                .col {
                    padding: 0;
                    margin: 0;
                }
            }
            label {
                font-size: 14px;
            }
            select {
                font-size: 14px;
            }
        }
        .remarkText {
            font-size: 12px;
        }
        .textAccept {
            margin-top: 5px;
            font-size: 12px;
            font-family: 'CenturyGothic';
            font-weight: normal;
            span {
                font-size:10px;
                letter-spacing: 1px;
            }
        }
        .btnRegister {
            font-size: 12px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .btnRegister2 {
            font-size: 12px;
        }
        .btnSavechange {
            font-size: 12px;
        }
        .textDate {
            font-size: 12px;
        }
        .logoutBtn {
            font-size: 14px;
        }
        
    }
  }