.container {
    position: relative;
    color: #fff;
    float: right;
    ul {
        display: table;
        list-style: none !important;
        margin: 0;
        padding: 0;
        min-height: 3.906vw;
        line-height: 3.906vw;
        margin-right: 10.417vw;
        li {
            float: left;
            padding: 0 0.521vw;
            font-size: 1.042vw;
            font-family: 'CenturyGothic-Bold';
            display: table-cell;
            img {
                height: 1.250vw;
                width: auto;
            }
            cursor: pointer;
            &:hover {
                opacity: 0.65;
            }
            &.privacyLink {
                margin-left: 1.042vw;
                padding : 0 0 0 1.042vw;
                text-transform: uppercase;
            }
            &.termsLink {
                padding : 0 5.208vw 0 0;
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (max-width:767px){
    .container {
        float: left;
        ul {
            display: table;
            list-style: none !important;
            margin: 0;
            padding: 0 0 0 11.353vw;
            line-height: 1.2em;
            margin-right: unset;
            li {
                float: left;
                padding: 0 0.521vw;
                font-size: 2.657vw;
                font-family: 'CenturyGothic-Bold';
                display: table-cell;
                img {
                    height: 15px;
                    width: auto;
                }
                cursor: pointer;
                &:hover {
                    opacity: 0.65;
                }
                &.privacyLink {
                    margin-left: 1.042vw;
                    padding : 0 0 0 1.042vw;
                    text-transform: uppercase;
                }
                &.termsLink {
                    padding : 0 5.208vw 0 0;
                    text-transform: uppercase;
                }
                &.icon {
                    padding-right: 10px;
                    padding-right: 10px;
                    img {
                        height: 15px;
                        width: auto;
                    }
                }
            }
        }
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 768px) 
  and (orientation: portrait) {
      .container {
        
        ul {
            margin-right: 90px;
            li {
                line-height: 40px;
                &.privacyLink {
                    font-size: 12px;
                }
                &.termsLink {
                    font-size: 12px;
                }
            }
        }
      }
  }