.bgprofile {
    background-color: transparent;
    position: relative;
    /*&:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background-color: rgba(0,0,0,0.75);
    }*/
}
.root {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    

    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background-color: rgba(0,0,0,0.75);
    }
    .iconplay {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1001;
        transform: translateY(-50%) translateX(-50%);
        cursor: pointer;
        img {
            width: 2.969vw;
            height: auto;
        }
    }
    .thumbnail {
        position: absolute;
        bottom: 0;
        margin-bottom: 1.5625vw;
        text-align: center;
        left: 0;
        right: 0;
        .yearselect {
            text-align: center;
            position: relative;
            width: 25vw;
            margin-left: auto;
            margin-right: auto;
            display: block;
            white-space: nowrap;
            display: flex;
            flex-direction: row;

            h3 {
                order: 0;
                flex: 1;
                margin: 0 10px 0;
                font-size: 20px;
                font-family: 'CenturyGothic';
                line-height: 2em;
                color: #fff;
                text-align: right;
            }

            select {
                order: 1;
                flex: 1;
                font-size: 20px;
                height: 44px;
                background-color: transparent;
                border: 1px solid #707070;
                font-family: 'CenturyGothic';
                color: #fff;
                text-align: center;
                -webkit-appearance: none;
                -moz-appearance: none;
                background: transparent;
                background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                background-repeat: no-repeat;
                background-position-x: 98%;
                background-position-y: 10px;
  
                &:focus {
                    outline: none;
                    box-shadow: none;
                    -webkit-box-shadow:none;
                }
                option {
                    font-size: 20px;
                }
            }
        }
        .vidoThumbs {
            display: inline-block;
            white-space: nowrap;
            width: 100%;
            ul {
                width: auto;
                display: inline-table;
                table-layout: fixed;
                list-style: none !important;
                overflow: hidden;
                margin: 0 auto;
                padding : 2.34375vw;
                li {
                    display: table-cell;
                    cursor: pointer;
                    width: auto;
                    padding : 0 5px;
                }
            }
            .vidoThumbContainer {
                width: auto;
                /*height: 8.854166666666668vw;*/
                overflow: hidden;
                /*display: inline-table;*/
                display:  inline-flex;
                margin: 0 auto;
                padding : 2.34375vw;
                table-layout: fixed;
            }
        }
        
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 768px) 
  and (orientation: portrait) {
    .root {
        .thumbnail {
            .yearselect {
                width: 30vw;
            }
        }
    }
}
@media screen and (max-width:767px){
    .root {
        .iconplay {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1001;
            transform: translateY(-50%) translateX(-50%);
            cursor: pointer;
            img {
                width: 28px;
                height: auto;
            }
        }
        .thumbnail {
            margin-bottom: 50px;
            .yearselect {
                text-transform: uppercase;
                width: 300px;
                text-align: center;
                h3 {
                    order: 0;
                    margin: 0 10px 0;
                    font-size: 20px;
                    font-family: 'CenturyGothic';
                    line-height: 2em;
                    color: #fff;
                    text-align: right;
                    max-width: 150px;
                }
    
                select {
                    order: 1;
                    flex: 0;
                    min-width: 85px;
                    border: none;
                    padding-top: 0;;
                    font-size: 20px;
                    line-height: 2em;
                    height: 44px;
                    background-color: transparent;
                    font-family: 'CenturyGothic';
                    color: #fff;
                    text-align: center;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background: transparent;
                    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                    background-repeat: no-repeat;
                    background-position-x: 98%;
                    background-position-y: 10px;
      
    
                    option {
                        font-size: 20px;
                    }
                    &:focus {
                        outline: none;
                        box-shadow: none;
                        -webkit-box-shadow:none;
                    }
                }
            }
        }
    }
}