.profileroot {
    position: absolute;
    bottom: 3.229vw;
    width: 100vw;
    text-align: center;
    h1 {
        font-size: 7.813vw;
        font-family: 'CenturyGothic';
        color: #fff;
        line-height: 1em;
        text-align: center;
    }
    .textremark {
        color: #fff;
        font-size: 1.563vw;
    }
    .linethrough {
        text-decoration: line-through;
        color: #A91F18;
    }
}
.arrowDownContainer {
    position: absolute;
    bottom: 100px;
    left: 50%;
    text-align: center;
    .arrowDown {
        width: 31px;
        height: auto;
    }
}

.textoutline {
    -webkit-text-stroke: 1px #fff; /* width and color */
    color: transparent;
}
.volumeControl {
    position: fixed;
    z-index: 1001;
    bottom: 2.604vw;
    left: 4vw;
    color: #fff;
    cursor: pointer;
    &:hover {
        opacity: 0.65;
    }
}

.scrollGuide {
    position: absolute;
    z-index: 1001;
    bottom: 0.5vw;
    left: 3vw;
    color: #fff;

    white-space: nowrap;
    font-size: 0.621vw;
    font-family: 'CenturyGothic';
    display: flex;
    flex-direction: column;
    line-height: 1em;
    span {
        padding:3px 0;
        margin:  0;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        visibility: inherit;
        opacity: 1;
        line-height: 1;
    }
    .line {
        height: 10vh;
        width: 5px;
        .section{
            width:100%;
            margin:0;
            height:200px;
            position:relative;
            padding:0;
            overflow: hidden;
        }
        .hscroll-line {
            right: 60%;
            top: 310px;
            height: 1px;
            padding: 0;
            margin: 0;
            position: absolute;
            overflow: hidden;
            width:300px;
            transform: rotate(90deg);
            transform-origin: 100%;
         
        }
        
        
        .hscroll-line::before,
        .hscroll-line::after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: ""
        }
        
        .hscroll-line:before {
            background: #ffffff3b;
        }
        
        .hscroll-line::after {
            background: #fff;
            animation: move 3s infinite
        }
    }
}
@keyframes move {
    0% {
        transform: translate3d(-200%, 0, 0)
    }
    60% {
        transform: translate3d(100%, 0, 0)
    }
    100% {
        transform: translate3d(100%, 0, 0)
    }
}

@media screen and (max-width:767px){
    .profileroot {
        bottom: 25vh;
        h1 {
            font-size: 74px;
            font-family: 'CenturyGothic';
            color: #fff;
            line-height: 1.3em;
            text-align: center;
        }
        .textremark {
            color: #fff;
            font-size: 14px;
        }
    }
    .scrollGuide {
        bottom: 12vw;
        left: 3vw;
        font-size: 10px;
    }
    .volumeControl {
        bottom: 12vh;
        left: 5vw;
    }
}
/* Landscape */
/* IPAD PRO */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
   {
    
}

/* IPAD  */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
   {
    .profileroot {
        bottom: 15vh;
        h1 {
            font-size: 74px;
            font-family: 'CenturyGothic';
            color: #fff;
            line-height: 1.3em;
            text-align: center;
        }
        .textremark {
            color: #fff;
            font-size: 1.563vw;
        }
    }
    .scrollGuide {
        bottom: 2vw;
        left: 3vw;
        font-size: 10px;
    }
    .volumeControl {
        bottom:8vh;
        left: 5vw;
    }
}

/* Portrait */
/* IPAD PRO */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    .profileroot {
        bottom: 15vh;
        h1 {
            font-size: 74px;
            font-family: 'CenturyGothic';
            color: #fff;
            line-height: 1.3em;
            text-align: center;
        }
        .textremark {
            color: #fff;
            font-size: 1.563vw;
        }
    }
    .scrollGuide {
        bottom: 2vw;
        left: 3vw;
        font-size: 10px;
    }
    .volumeControl {
        bottom:8vh;
        left: 5vw;
    }
}

/* IPAD */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 768px) 
  and (orientation: portrait)  {
    .profileroot {
        bottom: 15vh;
        h1 {
            font-size: 74px;
            font-family: 'CenturyGothic';
            color: #fff;
            line-height: 1.3em;
            text-align: center;
        }
        .textremark {
            color: #fff;
            font-size: 1.563vw;
        }
    }
    .scrollGuide {
        bottom: 2vw;
        left: 3vw;
        font-size: 10px;
    }
    .volumeControl {
        bottom:8vh;
        left: 5vw;
    }
}