.bgprofile {
    background-color: transparent;
    position: relative;
    /*
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background-color: rgba(0,0,0,0.75);
    }*/
}

.backToHome {
    &:hover {
        color:  #982B22;
    }
}

.mobileNews {
    padding-top: 20vh;
    padding-left: 50px;
    padding-right:65px;
    .newsdropdown {
        width: 100%;
        button {
            text-align: left;
            vertical-align: middle;
            line-height: 2em;
            background-color: transparent;
            font-size: 30px;
            font-family: 'CenturyGothic';
            color: #fff;
            border: none;
            &:hover {
                color: #fff !important;
                border: none;
                background-color: transparent !important;
            }
            span {
               
            }
        }
        .dropdownmenu {
            width: 100%;
            background-color: #000;
            color: #fff;
            padding: 0;
            margin: 0;
            li {
                border: none;
                border-bottom: 1px solid #707070;
                &:last-child {
                    border-bottom: none;
                }
                a {
                    font-size: 16px;
                    line-height: 60px;
                    font-family: 'CenturyGothic';
                    background-color: #000;
                    color: #fff;
                    text-transform: uppercase;
                }
                
            }
        }
    }
    .groupcontent {
        order: 2;
        width: 100%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        padding-bottom: 2.604vw;
        color: #fff;
        min-height: 50vh;
        text-align: left;
        position: relative;

        .tapcontent {
            position: relative;
        }

        ul {
            width: 100%;
            padding: 0;
            margin: 0;
            li {
                list-style-type: none;
                padding: 10px 0 10px 1px;
                margin-top: 1px;
                font-size: 13px;
                font-family: 'CenturyGothic';
                border-top: 1px solid rgba(255,255,255,0.5);
                .date {
                    padding-right: 5px;
                    font-size: 10px;
                    margin: 10px 0 0;
                }
                cursor: pointer;
                &:hover {
                    span {
                        opacity: 0.65;
                    }
                }
                &:last-child {
                    border-bottom: 1px solid rgba(255,255,255,0.5);
                }
            }
        }
    }
    .navpaging {
            position: relative;
            
            .arrowLeft {
                img {
                    width: 30px;
                    height: auto;
                }
                position: absolute;
                top: 50%;
                
                &:hover {
                    opacity: 0.75;
                }
                cursor: pointer;
            }
            .arrowRight {
                img {
                    width: 30px;
                    height: auto;
                }
                position: absolute;
                top: 50%;
                transform: translateX(-50%);
                right: 0;
                &:hover {
                    opacity: 0.75;
                }
                cursor: pointer;
            }
            .pagination {
                padding-top: 30px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                font-size: 11px;
                font-family: 'CenturyGothic';
                color: #fff;
                a {
                    color: #707070;
                    &.active {
                        color: #fff;
                    }
                }
            }
    }
}
.tappanel {
    position: absolute;
    width: 100vw;
    bottom: 0;
    z-index: 999;
    text-align: center;
    display: flex;
    flex-direction: column;
    .groupnav {
        width: 66.354vw;
        padding: 0;
        max-width: 1274px;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        order: 1;
        ul {
            display: inline-block;
            padding: 0;
            width: 100%;
            li {
                list-style-type: none;
                width: 25%;
                float: left;
                padding: 0;
                margin: 0;
                white-space: nowrap;
                font-size: 2.604vw;
                font-family: 'CenturyGothic';
                -webkit-text-stroke: 1px #fff; /* width and color */
                color: transparent;
                a {
                    color: transparent;
                    cursor: pointer;
                    &:hover {
                        color: #fff;
                    }
                }
                &.active {
                    color: #fff;
                    a {
                        color: #fff;
                        
                    }
                }
            }
        }
    }
    .groupcontent {
        order: 2;
        width: 66.354vw;
        padding: 0;
        max-width: 1274px;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        padding-bottom: 2.604vw;
        color: #fff;
        min-height: 50vh;
        text-align: left;
        position: relative;

        .tapcontent {
            position: relative;
            
            .arrowLeft {
                img {
                    width: 3.646vw;
                    height: auto;
                }
                position: absolute;
                top: 50%;
                transform: translateY(-50%) translateX(-3.646vw);
                &:hover {
                    opacity: 0.75;
                }
                cursor: pointer;
            }
            .arrowRight {
                img {
                    width: 3.646vw;
                    height: auto;
                }
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%) translateX(5.469vw);
                &:hover {
                    opacity: 0.75;
                }
                cursor: pointer;
            }
            .pagination {
                padding-top: 1.042vw;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                font-size: 1.042vw;
                font-family: 'CenturyGothic';
                color: #fff;
                a {
                    color: #707070;
                    &.active {
                        color: #fff;
                    }
                }
            }
        }

        ul {
            width: 100%;
            li {
                list-style-type: none;
                line-height: 2em;
                padding: 30px 0 30px 1.042vw;
                margin-top: 1px;
                font-size: 1.202vw;
                font-family: 'CenturyGothic';
                border-top: 1px solid rgba(255,255,255,0.5);
                .date {
                    padding-right: 15px;
                }
                cursor: pointer;
                &:hover {
                    span {
                        opacity: 0.65;
                    }
                }

                &:last-child {
                    border-bottom: 1px solid rgba(255,255,255,0.5);
                }
            }
        }
    }
}

.newsdetail {
    display: flex;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    height: 100%;
    padding: 0.521vw 1.042vw;
    .newsheader {
        order: 1;
        text-align: left;
        h1 {
            font-size: 2.344vw;
            font-family: 'CenturyGothic';
            color: #fff;
        }
        padding: 0.521vw 0;
        border-bottom: 1px solid #707070;
    }
    .newssubheader {
        order: 2;
        font-size: 1.042vw;
        font-family: 'CenturyGothic';
        padding-top: 1.042vw;
        padding-bottom: 1.042vw;
        color: #fff;
        span {
            padding : 5px 10px;
            line-height: 1em;
        }
        .tag {
            background-color: #982B22;
        }
        p {
            margin: 0;
        }

        .sharelink {
            display: inline-block;
            span {
                float: left;
            }
        }

        ul {
            display: inline-block;
            list-style: none !important;
            margin: 0;
            padding : 0 10px;
            li {
                float: left;
                line-height: 1em;;
                padding: 5px 10px;
                line-height: 1em;
                img {
                    height: 1.250vw;
                    width: auto;
                }
                cursor: pointer;
                &:hover {
                    opacity: 0.75;
                }
            }
        }
    }
    .newscontent {
        overflow: auto;
        padding-right: 1.042vw;
        order: 3;
        flex: 1;
        text-align: left;
        color: #fff;
        font-size: 1.042vw;
        font-family: 'CenturyGothic';
        img {
            width: 100%;
            max-width: 60vw;
            height: auto;
        }
        p {
            padding-right: 10vw;
        }
        a {
            text-decoration: underline;
            text-decoration-color: #982B22;
        }
        iframe {
            max-width: none; height: none;
        }
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 768px) 
  and (orientation: portrait) {
    .tappanel {
        bottom: 20vh;
        .groupnav  {
            width: 80vw;
        }
        .groupcontent  {
            width:80vw;
            .tapcontent {
                position: relative;
                .arrowLeft {
                    img {
                        width: 5.646vw;
                        height: auto;
                    }
                    position: absolute;
                    top: 30%;
                    transform: translateY(-50%) translateX(-4.646vw);
                    &:hover {
                        opacity: 0.75;
                    }
                    cursor: pointer;
                }
                .arrowRight {
                    img {
                        width: 5.646vw;
                        height: auto;
                    }
                    position: absolute;
                    top: 30%;
                    right: 0;
                    transform: translateY(-50%) translateX(7.469vw);
                }
                .pagination {
                    padding-top: 1.542vw;
                    font-size: 2vw;
                }
            }
            ul {
                width: 100%;
                li {
                    line-height: 5em;
                    padding: 0 0 0 1.042vw;
                    margin-top: 1px;
                    font-size: 1.7vw;
                }
            }
        }
    }
    .newsdetail {
        display: flex;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        height: 100%;
        padding: 0.521vw 1.042vw;
        .newsheader {
            order: 1;
            text-align: left;
            h1 {
                font-size: 18px;
            }
            padding: 0.521vw 0;
            border-bottom: 1px solid #707070;
        }
        .newssubheader {
            order: 2;
            font-size: 14px;
            padding-top: 1.042vw;
            padding-bottom: 1.042vw;
            color: #fff;
            span {
                padding : 5px 10px;
                line-height: 1em;
            }
            p {
                margin: 0;
            }
    
            ul {
                margin: 0;
                padding : 0 10px;
                li {
                    line-height: 1em;;
                    padding: 5px 10px;
                    line-height: 1em;
                    img {
                        height: 18px;
                        width: auto;
                    }
                    &:hover {
                        opacity: 0.75;
                    }
                }
            }
        }
        .newscontent {
            padding-right: 1.042vw;
            font-size: 14px;
            img {
                width: 100%;
                max-width: 60vw;
            }
            p {
                padding-right: 10vw;
            }
        }
    }
}
@media screen and (max-width: 767px){
    .newsdetail {
        display: flex;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        height: 100%;
        padding: 0.521vw 1.042vw;
        .newsheader {
            order: 1;
            text-align: left;
            h1 {
                font-size: 16px;
                font-family: 'CenturyGothic';
                color: #fff;
                line-height: 1.2em;
            }
            padding: 0.521vw 0;
            border-bottom: 1px solid #707070;
        }
        .newssubheader {
            order: 2;
            font-size: 14px;
            font-family: 'CenturyGothic';
            padding-top: 10px;
            padding-bottom: 10px;
            color: #fff;
            span {
                padding : 5px 10px 5px 0;
                line-height: 1em;
            }
            .tag {
                background-color: #982B22;
                font-size: 10px;
                text-align: center;
                padding-left: 10px;
            }
            p {
                margin: 0;
            }
    
            .sharelink {
                margin-top: 10px;
                display: inline-block;
                width: 100%;
                text-align: left;
                span {
                    float: left;
                }

            }
    
            ul {
                display: inline-block;
                list-style: none !important;
                margin: 0;
                padding : 0 10px 0 0;
                li {
                    float: left;
                    line-height: 1em;;
                    padding: 5px 10px;
                    line-height: 1em;
                    &:first-child {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    img {
                        height: 14px;
                        width: auto;
                    }
                    cursor: pointer;
                    &:hover {
                        opacity: 0.75;
                    }
                }
            }
        }
        .newscontent {
            overflow: auto;
            padding-right: 10px;
            order: 3;
            flex: 1;
            text-align: left;
            color: #fff;
            font-size: 14px;
            font-family: 'CenturyGothic';
            img {
                width: 100%;
                max-width: 70vw;
                height: auto;
            }
            p {
                padding-right: 10vw;
            }
            
            
            iframe {
                max-width: calc(177.778vh); height: calc(56.25vw);
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .tappanel {
        .groupnav {
            ul {
                li {
                    font-size: 50px;
                }
            }
        }
        .groupcontent {
            ul {
                li {
                    font-size: 25px;
                }
            }
        }
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    .newsdetail {
        display: flex;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        height: 100%;
        padding: 0.521vw 1.042vw;
        .newsheader {
            order: 1;
            text-align: left;
            h1 {
                font-size: 18px;
            }
            padding: 0.521vw 0;
            border-bottom: 1px solid #707070;
        }
        .newssubheader {
            order: 2;
            font-size: 14px;
            padding-top: 1.042vw;
            padding-bottom: 1.042vw;
            color: #fff;
            span {
                padding : 5px 10px;
                line-height: 1em;
            }
            p {
                margin: 0;
            }
    
            ul {
                margin: 0;
                padding : 0 10px;
                li {
                    line-height: 1em;;
                    padding: 5px 10px;
                    line-height: 1em;
                    img {
                        height: 18px;
                        width: auto;
                    }
                    &:hover {
                        opacity: 0.75;
                    }
                }
            }
        }
        .newscontent {
            padding-right: 1.042vw;
            font-size: 14px;
            img {
                width: 100%;
                max-width: 60vw;
            }
            p {
                padding-right: 10vw;
            }
        }
    }
    .tappanel {
        bottom: 25vh;
        .groupnav  {
            width: 75vw;
        }
        .groupcontent  {
            width:75vw;
            ul {
                width: 100%;
                li {
                    list-style-type: none;
                    line-height: 7em;
                    padding: 0 0 0 20px;
                    margin-top: 1px;
                    font-size: 16px;
                    .date {
                        padding-right: 15px;
                    }
                    cursor: pointer;
                    &:hover {
                        span {
                            opacity: 0.65;
                        }
                    }
    
                    &:last-child {
                        border-bottom: 1px solid rgba(255,255,255,0.5);
                    }
                }
            }
            .tapcontent {
                position: relative;
                
                .arrowLeft {
                    img {
                        width: 50px;
                        height: auto;
                    }
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) translateX(-3.646vw);
                    &:hover {
                        opacity: 0.75;
                    }
                    cursor: pointer;
                }
                .arrowRight {
                    img {
                        width: 50px;
                        height: auto;
                    }
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%) translateX(5.469vw);
                    &:hover {
                        opacity: 0.75;
                    }
                    cursor: pointer;
                }
                .pagination {
                    padding-top: 20px;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 14px;
                    font-family: 'CenturyGothic';
                    color: #fff;
                    a {
                        color: #707070;
                        &.active {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    
  }