.root {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: #EBEBEB;
    
    .logo {
        margin-left: 2.448vw;
        margin-top: 0.604vw;
        img {
            width: 9.688vw;
            height: auto;
        }
    }
    
    .boxPayment {
        width: 39.740vw;
        position: absolute;
        padding-bottom: 1.563vw;
        top: 50%;
        left: 50%;
        background-color: #fff;
        transform: translateX(-50%) translateY(-50%);
        max-width: 763px;
        -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);

        .omiselogo {
            text-align: center;
            position: absolute;
            bottom: -4.125vw;
            width: 100%;
            
            img {
                width: 11.875vw;
                height: auto;
                margin: 0 auto;
            }
        }
        .content {
            padding:2.083vw;
            margin: 0;
            text-align: left;
            
            h4 {
                margin: 0;
                color: #000;
                font-family: 'CenturyGothic-Bold';
            }
            p {
                margin: 0 0 10;
                color: #707070;
                font-family: 'CenturyGothic';
            }
            ul.iconList {
                display: inline-block;
                padding: 0;
                margin: 10px 0 0;
                li {
                    float: left;
                    list-style-type: none;
                    padding-right: 10px;
                    img {
                        height: 32px;
                    }
                }
            }
        }
        .btnGroup {
            padding:0.5vw 4.583vw;;
            margin: 0;
            text-align: center;
            .btnCancel {
                background-color: #fff;
                border-radius: 0;
                border: 1px solid #000;
                font-size: 14px;
                font-family: 'CenturyGothic';
                color: #000;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .btnConfirm {
                background-color: #000;
                border-radius: 0;
                border: 1px solid #fff;
                color: #fff;
                font-size: 14px;
                font-family: 'CenturyGothic';
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
        .header {
            padding:0;
            margin: 0;
            text-align: center;
            background-color: #fff;
            -webkit-box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
            -moz-box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
            box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
            .col {
                min-height: 4.115vw;
                text-align: center;
                padding-left: 30px;
                padding-right: 30px;
                &:first-child {
                    background-color: #000;
                    h2 {
                        color: #fff;
                    }
                }
                h2 {
                    font-family: 'CenturyGothic-Bold';
                    cursor: pointer;
                    font-size: 18px;
                    vertical-align: middle;
                    img {
                        float: right;
                        vertical-align: middle;
                        margin-top: 7px;
                        height: 35px;
                        width: auto;
                    }
                }
            }
        }
    }
    .backTomain {
        color: #000;
        position: absolute;
        left: 50px;
        bottom: 50px;
        span {
            color: #000;
            font-family: 'CenturyGothic-Bold';
            cursor: pointer;
            font-size: 12px;
            padding-left: 5px;
            line-height: 16px;
            text-transform: uppercase;
        }
        i {
            color: #000;
        }
    }
}


@media screen and (max-width:767px){
    .root {
        .logo {
            margin-left: 2.448vw;
            margin-top: 0.604vw;
            display: none;
        }
        .boxPayment {
            width: 90vw;
            min-height: 60vh;
            position: absolute;
            padding-bottom: 30px;
            top: 50px;
            transform: unset;
            left: 50%;
            transform: translateX(-50%);
            h2 {
                margin: 0;
            }
    
            .omiselogo {
                text-align: center;
                position: absolute;
                bottom: -30px;
                width: 100%;
                
                img {
                    width: 120px;
                    height: auto;
                    margin: 0 auto;
                }
            }
            .content {
                padding:2.083vw;
                margin: 0;
                text-align: center;
                
            }
            .btnGroup {
                padding:0.5vw 4.583vw;;
                margin: 0;
                text-align: center;
                .btnCancel {
                    background-color: #fff;
                    border-radius: 0;
                    border: 1px solid #000;
                    font-size: 13px;
                    font-family: 'CenturyGothic';
                    color: #000;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin: 10px 0;
                }
                .btnConfirm {
                    background-color: #000;
                    border-radius: 0;
                    border: 1px solid #000;
                    color: #fff;
                    font-size: 13px;
                    font-family: 'CenturyGothic';
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin: 10px 0;
                }
            }
            .header {
                padding:0;
                margin: 0;
                text-align: center;
                background-color: #fff;
                -webkit-box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
                -moz-box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
                box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
                .col {
                    min-height: 4.115vw;
                    text-align: center;
                    padding-left: 30px;
                    padding-right: 30px;
                    &:first-child {
                        background-color: #000;
                        h2 {
                            color: #fff;
                        }
                    }
                    h2 {
                        font-family: 'CenturyGothic-Bold';
                        cursor: pointer;
                        font-size: 14px;
                        vertical-align: middle;
                        img {
                            float: right;
                            vertical-align: middle;
                            margin-top: 7px;
                            height: 35px;
                            width: auto;
                        }
                    }
                }
            }
        }
        .backTomain {
            color: #000;
            position: absolute;
            right: 20px;
            top: 15px;
            bottom: unset;
            left: unset;
        }
      }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 768px) 
and (orientation: portrait){ 
    .root {
        .logo {
            margin-left: 2.448vw;
            margin-top: 0.604vw;
            img {
                width: 15vw;
                height: auto;
            }
        }
        .boxPayment {
            width: 60vw;
            position: absolute;
            padding-bottom: 1.563vw;
            top: 50%;
            left: 50%;
            background-color: #fff;
            transform: translateX(-50%) translateY(-50%);
            max-width: 763px;
            -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
            box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    
            .omiselogo {
                text-align: center;
                position: absolute;
                bottom: -4.125vw;
                width: 100%;
                
                img {
                    width: 16vw;
                    height: auto;
                    margin: 0 auto;
                }
            }
            .content {
                padding:2.083vw;
                margin: 0;
                text-align: center;
            }
            .btnGroup {
                padding:0.5vw 4.583vw;;
                margin: 0;
                text-align: center;
                .btnCancel {
                    background-color: #fff;
                    border-radius: 0;
                    border: 1px solid #000;
                    font-size: 14px;
                    font-family: 'CenturyGothic';
                    color: #000;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                .btnConfirm {
                    background-color: #000;
                    border-radius: 0;
                    border: 1px solid #fff;
                    color: #fff;
                    font-size: 14px;
                    font-family: 'CenturyGothic';
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
            .header {
                padding:0;
                margin: 0;
                text-align: center;
                background-color: #fff;
                -webkit-box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
                -moz-box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
                box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
                .col {
                    min-height: 4.115vw;
                    text-align: center;
                    padding-left: 30px;
                    padding-right: 30px;
                    &:first-child {
                        background-color: #000;
                        h2 {
                            color: #fff;
                        }
                    }
                    h2 {
                        font-family: 'CenturyGothic-Bold';
                        cursor: pointer;
                        font-size: 14px;
                        vertical-align: middle;
                        img {
                            float: right;
                            vertical-align: middle;
                            margin-top: 7px;
                            height: 35px;
                            width: auto;
                        }
                    }
                }
            }
        }
      }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape){ 
      .root {
        .boxPayment {
            width: 60vw;
            position: absolute;
            padding-bottom: 1.563vw;
            top: 50%;
            left: 50%;
            background-color: #fff;
            transform: translateX(-50%) translateY(-50%);
            max-width: 763px;
            -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
            box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    
            .omiselogo {
                text-align: center;
                position: absolute;
                bottom: -4.125vw;
                width: 100%;
                
                img {
                    width: 11.875vw;
                    height: auto;
                    margin: 0 auto;
                }
            }
            .content {
                padding:2.083vw;
                margin: 0;
                text-align: center;
            }
            .btnGroup {
                padding:0.5vw 4.583vw;;
                margin: 0;
                text-align: center;
                .btnCancel {
                    background-color: #fff;
                    border-radius: 0;
                    border: 1px solid #000;
                    font-size: 14px;
                    font-family: 'CenturyGothic';
                    color: #000;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                .btnConfirm {
                    background-color: #000;
                    border-radius: 0;
                    border: 1px solid #fff;
                    color: #fff;
                    font-size: 14px;
                    font-family: 'CenturyGothic';
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
            .header {
                padding:0;
                margin: 0;
                text-align: center;
                background-color: #fff;
                -webkit-box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
                -moz-box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
                box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
                .col {
                    min-height: 4.115vw;
                    text-align: center;
                    padding-left: 30px;
                    padding-right: 30px;
                    &:first-child {
                        background-color: #000;
                        h2 {
                            color: #fff;
                        }
                    }
                    h2 {
                        font-family: 'CenturyGothic-Bold';
                        cursor: pointer;
                        font-size: 14px;
                        vertical-align: middle;
                        img {
                            float: right;
                            vertical-align: middle;
                            margin-top: 7px;
                            height: 35px;
                            width: auto;
                        }
                    }
                }
            }
        }
      }
    
  }

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) { 
      .root {
        .boxPayment {
            width: 60vw;
            position: absolute;
            padding-bottom: 1.563vw;
            top: 50%;
            left: 50%;
            background-color: #fff;
            transform: translateX(-50%) translateY(-50%);
            max-width: 763px;
            -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
            box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    
            .omiselogo {
                text-align: center;
                position: absolute;
                bottom: -4.125vw;
                width: 100%;
                
                img {
                    width: 11.875vw;
                    height: auto;
                    margin: 0 auto;
                }
            }
            .content {
                padding:2.083vw;
                margin: 0;
                text-align: center;
            }
            .btnGroup {
                padding:0.5vw 4.583vw;;
                margin: 0;
                text-align: center;
                .btnCancel {
                    background-color: #fff;
                    border-radius: 0;
                    border: 1px solid #000;
                    font-size: 14px;
                    font-family: 'CenturyGothic';
                    color: #000;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                .btnConfirm {
                    background-color: #000;
                    border-radius: 0;
                    border: 1px solid #fff;
                    color: #fff;
                    font-size: 14px;
                    font-family: 'CenturyGothic';
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
            }
            .header {
                padding:0;
                margin: 0;
                text-align: center;
                background-color: #fff;
                -webkit-box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
                -moz-box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
                box-shadow: 0px 1px 1px 0px rgba(112,112,112,1);
                .col {
                    min-height: 4.115vw;
                    text-align: center;
                    padding-left: 30px;
                    padding-right: 30px;
                    &:first-child {
                        background-color: #000;
                        h2 {
                            color: #fff;
                        }
                    }
                    h2 {
                        font-family: 'CenturyGothic-Bold';
                        cursor: pointer;
                        font-size: 14px;
                        vertical-align: middle;
                        img {
                            float: right;
                            vertical-align: middle;
                            margin-top: 7px;
                            height: 35px;
                            width: auto;
                        }
                    }
                }
            }
        }
      }
    
  }