.root {
    &:first-child {
        margin-top: 0vw;
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: row;
        color: #fff;
        margin-top: 6vw;
        padding-left: 15.104vw;
        padding-right: 15.104vw;

        hr {
            border-color: rgba(169, 31, 24,0.5);
            margin-top: 30px;
            margin-bottom: 10px;
        }

        .image {
            img {
                vertical-align: middle;
                width: 27vw;
                height: 27vw;;
            }
        }
        .detail {
            text-align: left;
            width: 100%;
            h3 {
                padding: 0.781vw 0 0px 0px;
                margin: 0;
                font-size: 2.083vw;
                font-family: 'CenturyGothic';
                padding-left: 40px;
            }
            .subtitle {
                padding-left: 40px;
                margin: 0 0 0.521vw;
                font-size: 1.563vw;
                font-family: 'CenturyGothic';
            }
            .code {
                font-size: 1.042vw;
                font-family: 'CenturyGothic';
                color: #D6A89E;
                padding-left: 40px;
            }
            .boxprice {
                padding-top: 0.5vw;
                padding-left: 40px;
                .download {
                    font-size: 1vw;
                    font-family: 'CenturyGothic';
                    line-height: 1.510vw;
                    background-color: #982B22;
                    padding: 0.677vw 4vw;
                    cursor: pointer;
                }
                p {
                    font-size: 1.354vw;
                    font-family: 'CenturyGothic';
                    .tag {
                        font-size: 1.042vw;
                    }
                }
            }
        }

        
        &.mobile {
            direction: unset;
            margin-top: 50px;
            &:first-child {
                margin-top: 5vw;
            }
           
            hr {
                border-color: rgba(169, 31, 24,0.5);
                margin-top: 4vh;
            }
            .image {
                img {
                    vertical-align: middle;
                    width: 100%;
                    height: auto;;
                }
            }
            .detail {
                text-align: left;
                width: 100%;
                h3 {
                    padding: 20px 0 0;
                    margin: 0;
                    font-size: 18px;
                    font-family: 'CenturyGothic';
                    padding-left: 0;
                }
                .subtitle {
                    padding-left: 0;
                    margin: 0;
                    font-size: 18px;
                    font-family: 'CenturyGothic';
                }
                .code {
                    font-size: 14px;
                    font-family: 'CenturyGothic';
                    color: #D6A89E;
                    padding: 5px 0 0 0;
                }
                .boxprice {
                    padding-top: 0px;
                    padding-left: 0px;
                    .download {
                        font-size: 15px;
                        font-family: 'CenturyGothic';
                        line-height: 1em;
                        background-color: #982B22;
                        padding: 5px 35px;
                        cursor: pointer;
                    }
                    p {
                        font-size: 14px;
                        font-family: 'CenturyGothic';
                        .tag {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    
    
    
    &:nth-child(even){
        .container { 
            position: relative;
            display: flex;
            flex-direction: row;
            color: #fff;
            margin-top: 6vw;
            direction: rtl;
            padding-left: 15.104vw;
            padding-right: 15.104vw;

            .detail {
                text-align: right;
                h3 {
                    padding-right: 40px;
                }
                .subtitle {
                    padding-right: 40px;
                }
                .code {
                    padding-right: 40px;
                }
                .boxprice { 
                    direction: ltr;
                    padding-right: 40px;
                }
            }
            &.mobile { 
                margin-top: 50px;
                .detail {
                    text-align: left;
                    width: 100%;
                    h3 {
                        padding: 20px 0 0;
                        margin: 0;
                        font-size: 18px;
                        font-family: 'CenturyGothic';
                        padding-left: 0;
                    }
                    .subtitle {
                        padding-left: 0;
                        margin: 0;
                        font-size: 18px;
                        font-family: 'CenturyGothic';
                    }
                    .code {
                        font-size: 14px;
                        font-family: 'CenturyGothic';
                        color: #D6A89E;
                        padding: 5px 0 0 0;
                    }
                    .boxprice {
                        padding-top: 0px;
                        padding-left: 0px;
                        .download {
                            font-size: 15px;
                            font-family: 'CenturyGothic';
                            line-height: 1em;
                            background-color: #982B22;
                            padding: 5px 35px;
                            cursor: pointer;
                        }
                        p {
                            font-size: 14px;
                            font-family: 'CenturyGothic';
                            .tag {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        
    }
}

/* IPAD  */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
   {
    .root {
        .detail {
            .boxprice {
                padding-top: 2vw;
                .download {
                    font-size: 1.5vw;
                }
            }
        }
    }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 768px) 
and (orientation: portrait) {
    .root {
        &:nth-child(even){
            .container {
                padding-right: 70px;
                padding-left: 70px;
            }
        }
        .container {
            padding-right: 70px;
            padding-left: 70px;
            .detail {
                h3 {
                    font-size: 18px;
                }
                .subtitle {
                    font-size: 14px;
                }
                .code {
                    font-size: 12px;
                }
                .boxprice {
                    p{
                        font-size: 14px;
                        .tag {
                            font-size: 12px;
                        }
                    }
                    
                    padding-top: 2vw;
                    .download {
                        font-size: 12px;
                    }
                }
            }
        }
        
    }
}

@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {
    .root {
        &:nth-child(even){
            .container {
                padding-right: 70px;
                padding-left: 70px;
            }
        }
        .container {
            padding-right: 70px;
            padding-left: 70px;
            .detail {
                h3 {
                    font-size: 20px;
                }
                .subtitle {
                    font-size: 15px;
                }
                .code {
                    font-size: 14px;
                }
                .boxprice {
                    p{
                        font-size: 15px;
                        .tag {
                            font-size: 14px;
                        }
                    }
                    
                    padding-top: 2vw;
                    .download {
                        font-size: 14px;
                    }
                }
            }
        }
        
    }
}