.bgprofile {
    background-color: transparent;
    position: relative;
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background-color: rgba(0,0,0,1);
    }
    .container {
        position: relative;
        padding-top: 12.500vw;
    }
}

