.bgprofile {
    background-color: transparent;
    position: relative;
    /*&:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background-color: rgba(0,0,0,0.75);
    }*/
}
.mobilephotoslist {
    padding: 12vh 20px 50px;
    ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        list-style: none !important;
        margin: 0;
        padding: 0;
        li {
            padding-top: 20px;
            &:first-child {
                padding-top: 50px;
            }
            img {
                width: 100%;
            }
        }
    }
    .btnSend {
        margin-top: 10px;
        border-radius: 0;
        background-color: #982B22;
        border-color: #982B22;
        padding-left: 50px;
        padding-right: 50px;
    }
}
.photoslist {
    position: absolute;
    width: 100vw;
    height: 34.583vw;
    top: 50%;
    transform: translateY(-50%);
    .photoscontainer {
        position: relative;
        ul {
            width: auto;
            display: table;
            table-layout: fixed;
            list-style: none !important;
            overflow: hidden;
            margin: 0;
            padding : 0;
            height: 34.583vw;
            li {
                display: table-cell;
                cursor: pointer;
                width: auto;
                height: 34.583vw;
                padding: 0px 2.604vw;
                img {
                    width: 23.073vw;
                    height: auto;
                }
                &:nth-child(even) {
                    img {
                        margin-bottom: -5.208vw;
                    }
                }
            }
        }
    }
}
.scrollstyle {
    &::-webkit-scrollbar {
        height: 2px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: #A91F18;
        outline: 1px solid slategrey;
    }
}
.syncscroll {
    &::-webkit-scrollbar {
        height: 2px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: #A91F18;
        outline: 1px solid slategrey;
    }
    width: 50vw;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    .syncscrollcontent {
        margin-top: 20px;
        height: 2px;
        width: 100vw;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    .photoslist {
        position: absolute;
        width: 100vw;
        height: 60vw;
        top: 40%;
        /*transform: translateY(-50%);*/
        .photoscontainer {
            position: relative;
            ul {
                width: auto;
                display: table;
                table-layout: fixed;
                list-style: none !important;
                overflow: hidden;
                margin: 0;
                padding : 0;
                height: 60vw;
                li {
                    display: table-cell;
                    cursor: pointer;
                    width: auto;
                    height: 60vw;
                    padding: 0px 2.604vw;
                    img {
                        width: 35vw;
                        height: auto;
                    }
                    &:nth-child(even) {
                        img {
                            margin-bottom: -5.208vw;
                        }
                    }
                }
            }
        }
    }
  }

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 768px) 
  and (orientation: portrait) {
    .photoslist {
        position: absolute;
        width: 100vw;
        height: 60vw;
        top: 40%;
        /*transform: translateY(-50%);*/
        .photoscontainer {
            position: relative;
            ul {
                width: auto;
                display: table;
                table-layout: fixed;
                list-style: none !important;
                overflow: hidden;
                margin: 0;
                padding : 0;
                height: 60vw;
                li {
                    display: table-cell;
                    cursor: pointer;
                    width: auto;
                    height: 60vw;
                    padding: 0px 2.604vw;
                    img {
                        width: 35vw;
                        height: auto;
                    }
                    &:nth-child(even) {
                        img {
                            margin-bottom: -5.208vw;
                        }
                    }
                }
            }
        }
    }
  }