body, html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
    overflow: hidden;
    overflow-y: auto;
    .lg-jp {
        font-family: "HiraKakuProN-W3-AlphaNum";
    }
    background-color: #000;
}
hr {
    margin: 0;
}
body { 
    background: url("../img/bg-profile@2x.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    &:before {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background-color: rgba(0,0,0,0.75);
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}
select {
    -webkit-appearance: none;
    option {
        margin: 40px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        &:focus  {
            background-color: rgba(255, 0, 0, 0.7);
        }
        &:hover  {
            background-color: rgba(255, 0, 0, 0.7);
        }
        &:active  {
            background-color: rgba(255, 0, 0, 0.7);
        }
    }
} 
iframe {
    border:  none;
}
.navbar-toggle {
    border: none;
    color: #fff;
    margin: 10px 15px 0 0;
    .icon-bar {
        background-color: #fff;
        width: 30px;
    }
    .menu-title {
        font-size: 10px;
        font-family: 'CenturyGothic-bold';
    }
}

.logo-xs {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    img {
        width: 96px;
        height: auto;
    }
}

*:active:focus {
    outline: none;
}
.btn:active:focus {
    outline: none;
}
.section-container{
    width: 100vw;
    min-height: 100vh;
}

.page-label-container{
    position: fixed;
    top: 7.813vw;
    right: 1.042vw;
    text-align: right;
    .page-label {
        color: #fff;
        white-space: nowrap;
        font-size: 3.125vw;
        font-family: 'CenturyGothic';
        -webkit-text-stroke: 1px #fff; /* width and color */
        color: transparent;
        display: flex;
        flex-direction: column;
        line-height: 1em;
        span {
            padding: 0;
            margin:  0;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.08em;
            writing-mode: vertical-rl;
            display: inline-block;
            visibility: inherit;
            opacity: 1;
            line-height: 1;
        }
    }
}

  
  
  
 

.navbar {
    background-color: transparent;
    border: none;
    .logo {
        width: 9.725vw;
        height: 8.373vw;
    }
    .navbar-nav {
        margin-top: 2.969vw;
        li {
            font-family: 'CenturyGothic-Bold';
            font-size: 1.042vw;
            a {
                color: #fff !important;
                line-height: 1.2em;
                transition: none;
                &:hover {
                    color: #fff !important;
                    background-color: transparent;
                    /*text-decoration: underline;
                    text-decoration-color: #A91F18 !important;*/
                    span {
                        background: /* gradient can be an image */
                        linear-gradient(
                        to left, 
                        #A91F18 0%,
                        #A91F18 100%
                        )
                        center 
                        bottom
                        transparent
                        no-repeat; 
                        background-size:100% 2px ;
                    }
                }
                &:focus {
                    background-color: transparent;
                    /*text-decoration: underline;
                    text-decoration-color: #A91F18 !important;*/
                    span {
                        background: /* gradient can be an image */
                        linear-gradient(
                        to left, 
                        #A91F18 0%,
                        #A91F18 100%
                        )
                        center 
                        bottom
                        transparent
                        no-repeat; 
                        background-size:100% 2px ;
                    }
                }
            }

        }
        .active {
            
            a {
                color: #fff !important;
                background-color: transparent;
                span {
                    background: /* gradient can be an image */
                    linear-gradient(
                    to left, 
                    #A91F18 0%,
                    #A91F18 100%
                    )
                    center 
                    bottom
                    transparent
                    no-repeat; 
                    background-size:100% 2px ;
                }

                &:hover {
                    color: #fff !important;
                    background-color: transparent;
                    /*text-decoration: underline;
                    text-decoration-color: #A91F18 !important;*/
                }
                &:focus {
                    background-color: transparent;
                    /*text-decoration: underline;
                    text-decoration-color: #A91F18 !important;*/
                }
            }
            
        }
        
    } 
    .button-right {
        position: absolute;
        right: 1.667vw !important;
        margin-right: 0;
        top: 0;
        z-index: 999;
        .group-buttons {
            margin-top: 2.969vw;
            font-family: 'CenturyGothic';
            font-size: 1.042vw;
            &.lg-jp {
                font-family: "HiraKakuProN-W3-AlphaNum";
            }
            .btn-login-container {
                display: inline-block;
                float: left;
            }
            ul {
                &.btn-change-langs {
                    display: inline-block;
                    padding: 0 0 0 0.781vw;
                }
                list-style: none !important;
                margin: 0;
                li {
                    a {
                        cursor: pointer;
                        color: #8E8E8E;
                        &.active {
                            color: #fff;
                        }
                        &:hover {
                            color: #fff !important;
                            span {
                                background: /* gradient can be an image */
                                linear-gradient(
                                to left, 
                                #A91F18 0%,
                                #A91F18 100%
                                )
                                center 
                                bottom
                                transparent
                                no-repeat; 
                                background-size:100% 2px ;
                            }
        
                        }
                        &:focus {
                            color: #fff !important;
                            span {
                                background: /* gradient can be an image */
                                linear-gradient(
                                to left, 
                                #A91F18 0%,
                                #A91F18 100%
                                )
                                center 
                                bottom
                                transparent
                                no-repeat; 
                                background-size:100% 2px ;
                            }
        
                        }

                    }
                    &.login-btn {
                        padding-right: 1.042vw;
                        color: #fff;
                        font-family: 'CenturyGothic-Bold';
                        cursor: pointer;
                    }
                    font-family: 'CenturyGothic';
                    &.lg-jp {
                        font-family: "HiraKakuProN-W3-AlphaNum";
                    }
                    list-style: none !important;
                    line-height: 50px;
                    display: block;
                    position: relative;
                    float: left;
                }
            }
            
        }
        a.btn-login {
            color: #fff;
            font-family: 'CenturyGothic-Bold';
            font-size: 1.042vw;
            line-height: 2.604vw;
            cursor: pointer;
        }
        
    }
    
}
 
strong { font-weight: 600; }
 
a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
    transition: all .3s;
}
 
h1, h2 {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: #555;
    line-height: 50px;
}

.profile-content {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 900;
}


.profile-detail {
    padding-top: 8.958vw;
    position: relative;
    .boxartist {
        position: relative;
        direction: rtl;
        margin-bottom: 2.604vw;
        .artistphoto{
            border: solid 1px #982B22;
            padding-top: 1.667vw;
            padding-left: 1.667vw;
            max-width: 593.3px;
            width: 30.901vw;
            img {
                margin-right: -1.667vw;
                margin-bottom: -1.667vw;
                max-width: 593.3px;
                width: 30.901vw;
                height: auto;
            }
        }
    }
    
    .profile-text {
        padding-left: 1.771vw;
        padding-top: 15.625vw;
        p,h1,h2 {
            color : #fff;
            font-family: 'CenturyGothic';
            &.lg-jp {
                font-family: "HiraKakuProN-W3-AlphaNum";
            }
        }
        h2 {
            text-transform: uppercase;
            font-size: 4.167vw;
        }
        p {
            &.text0 {
                font-size: 2.604vw;
                margin-bottom: 1.042vw;
                &.lg-jp {
                    font-family: "HiraKakuProN-W3-AlphaNum";
                }
            }
            &.text1 {
                margin-top: 1.563vw;
                font-size: 1.458vw;
                text-transform: uppercase;
                line-height: 1.2em;
            }
        }
        
    }
}

.container {
    width: 95%;
    padding-right: 0;
    padding-left: 0;
}
.fslightbox-container {
    background: #000 !important;
    .fslightbox-toolbar-button {
        position: absolute !important;
        right: 0;
        top: 0;
        margin-top: 3.021vw;
        margin-right: 3.021vw;
        background-color: #000 !important;
        svg {
            width: 26px;
            height: 26px;
        }
    }
}
/* or hide fullscreen button at low resolution */
.fslightbox-toolbar-button:nth-child(1) {
    display: none;
}
.ScrollbarsCustom-Thumb{
    .ScrollbarsCustom-ThumbY{
        background: #fff !important;
    }
}



.indiana-scroll-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.indiana-scroll-container::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.indiana-scroll-container::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}





@media (max-width : 1200px) and (min-width :768px){
    
    /*.profile-detail {
        .boxartist {
            position: relative;
            direction: none;
            .artistphoto{
                width: 50vw;
                margin-left: auto;
                margin-right: auto;
                img {
                    width: 50vw;
                    height: auto;
                }
            }
        }
    }*/
} 

@media (max-width:768px){
    .container {
        width: 95%;
        .navbar-header {
            margin-left: 32px;
            margin-top: 12px;
        }
        .navbar-collapse {
            margin-top: 12px;
        }
    }
    .page-label-container{
        top: 8.813vw;
        right: 2.042vw;
    }
    .navbar {
        background-color: transparent;
        border: none;
        .logo {
            width: 9.725vw;
            height: 8.373vw;
        }
        .navbar-nav {
            margin-top: 2.969vw;
            li {
                font-size: 1.442vw;
            }
        } 
        .button-right {
            right: 1.667vw !important;
            margin-right: 0;
            padding-top: 0;
            top: 0;
            .group-buttons {
                padding-top: 0;
                margin-top: 2.969vw;
                font-size: 1.442vw;
                ul {
                    &.btn-change-langs {
                        padding: 0 0 0 0.781vw;
                    }
                    margin: 0;
                    li {
                        padding: 0 5px;
                        &.login-btn {
                            padding-right: 1.042vw;
                        }
                        line-height: 43px;
                    }
                }
                
            }
            a.btn-login {
                font-size: 1.042vw;
                line-height: 2.604vw;
            }
            
        }
        
    }
    .profile-detail {
        padding-top: 10vh;
        .boxartist {
            position: relative;
            direction: none;
            .artistphoto{
                width: 50vw;
                margin-left: auto;
                margin-right: auto;
                img {
                    width: 50vw;
                    height: auto;
                }
            }
        }
        .profile-text {
            padding-top: 5.208vw;
            text-align: center;
            padding-bottom: 5.208vw;
            h2 {
                font-size: 4.567vw;
                margin-top: 0;
            }
            p {
                &.text0 {
                    font-size: 3vw;
                    margin-bottom: 0vw;
                }
                &.text1 {
                    margin-top: 1.563vw;
                    font-size: 2vw;
                }
            }
            
        }
    }
}

@media (min-width: 1200px){
    .container {
        width: 95%;
        .navbar-header {
            margin-left: 32px;
            margin-top: 12px;
        }
        .navbar-collapse {
            margin-top: 12px;
        }
    }
}
@media(max-width:767px){
    body { 
        background-color: transparent;
        background: none;
        &:before {
            content: "";
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            background-image: url("../img/bg-profile@2x.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: initial;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        &:after {
            content: "";
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -8;
            background-color: rgba(0,0,0,0.75);
        }
    }
    .page-label-container{
        top: 65px;
        right: 25px;
        .page-label {
            color: #fff;
            white-space: nowrap;
            font-size: 5vw;
            font-family: 'CenturyGothic';
            -webkit-text-stroke: 1px #fff; /* width and color */
            color: transparent;
            display: flex;
            flex-direction: column;
            line-height: 1em;
            span {
                padding: 0;
                margin:  0;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 0.08em;
                writing-mode: vertical-rl;
                display: inline-block;
                visibility: inherit;
                opacity: 1;
                line-height: 1;
            }
        }
    }
    .profile-detail {
        padding-top: 15vh;
        .boxartist {
            position: relative;
            direction: none;
            .artistphoto{
                width: 70vw;
                margin-left: auto;
                margin-right: auto;
                img {
                    width: 70vw;
                    height: auto;
                }
            }
        }
        .profile-text {
            padding : 50px 30px 20px 30px;
            text-align: center;
            padding-bottom: 5.208vw;
            h2 {
                font-size: 34px;
                margin-top: 0;
            }
            p {
                &.text0 {
                    font-size: 20px;
                    margin-bottom: 0vw;
                }
                &.text1 {
                    margin-top: 1.563vw;
                    font-size: 14px;
                }
            }
            
        }
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 768px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    body {
        background: none;
        &:before {
            content: "";
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            background-image: url("../img/bg-profile@2x.jpg");
            background-size: auto 130% ;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: rgba(0,0,0,0.75);
        }
        &:after {
            content: "";
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -8;
            background-color: rgba(0,0,0,0.75);
        }
    }
}


/* IPAD  */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
   {
    body {
        background: none;
        &:before {
            content: "";
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            background-image: url("../img/bg-profile@2x.jpg");
            background-size: 130% auto;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: rgba(0,0,0,0.75);
        }
        &:after {
            content: "";
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -8;
            background-color: rgba(0,0,0,0.75);
        }
    }
}

/* iPad Pro */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    body {
        background: none;
        &:before {
            content: "";
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            background-image: url("../img/bg-profile@2x.jpg");
            background-size: auto 130% ;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: rgba(0,0,0,0.75);
        }
        &:after {
            content: "";
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -8;
            background-color: rgba(0,0,0,0.75);
        }
    }

    

    .profile-detail {
        padding-top: 10vh;
        .boxartist {
            position: relative;
            direction: none;
            width: 100%;
            .artistphoto{
                width: 50vw;
                margin-left: auto;
                margin-right: auto;
                img {
                    width: 50vw;
                    height: auto;
                }
            }
        }
        .col-full-width {
            width: 100%;
        }
        .profile-text {
            width: 100%;
            padding-top: 5.208vw;
            text-align: center;
            padding-bottom: 5.208vw;
            h2 {
                font-size: 4.567vw;
                margin-top: 0;
            }
            p {
                &.text0 {
                    font-size: 3vw;
                    margin-bottom: 0vw;
                }
                &.text1 {
                    margin-top: 1.563vw;
                    font-size: 2vw;
                }
            }
            
        }
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) {

}
