.root {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(0,0,0,0.80);

    .thankLightbox {
        padding: 0 30px;
        color: #fff;
    }

    .boxContentFull {
        width: 100vw;
        height: 100vh;
        background-color: #000;
        .row {
            margin-left: -0.781vw;
            margin-right: -0.781vw;
        }
        .header {
            position: absolute;
            top: 2.604vw;
            right: 2.604vw;
            z-index: 999999;
            img {
                width: 1.927vw;
                height: auto;
                cursor: pointer;
            }
        }
        .content {
            width: 100%;
            position: relative;
            text-align: center;
            display: flex;
            justify-content: start;
            align-items: flex-start;
            height: 100vh;
        }
    }

    .boxContent {
        min-width: 39.323vw;
        min-height: 21.146vw;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #000;
        transform: translateX(-50%) translateY(-50%);

        .row {
            margin-left: -0.781vw;
            margin-right: -0.781vw;
        }
        .header {
            padding-top: 0.781vw;
            padding-right: 1.823vw;
            img {
                width: 1.094vw;
                height: auto;
                cursor: pointer;
            }
        }
        .content {
            width: 100%;
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center; 
            min-height: 17vw;
        }
    }
}

@media screen and (max-width:767px){
    .root {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99999;
        background-color: rgba(0,0,0,0.80);

        
    
        .boxContentFull {
            width: 100vw;
            height: 100vh;
            background-color: #000;
            .row {
                margin-left: -0.781vw;
                margin-right: -0.781vw;
            }
            .header {
                position: absolute;
                top: 2.604vw;
                right: 2.604vw;
                z-index: 999999;
                img {
                    width: 22px;
                    height: auto;
                    cursor: pointer;
                }
            }
            .content {
                width: 100%;
                position: relative;
                text-align: center;
                display: flex;
                justify-content: start;
                align-items: flex-start;
                height: 100vh;
            }
        }
    
        .boxContent {
            min-width: 100vw;
            min-height: 100vh;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #000;
            transform: translateX(-50%) translateY(-50%);

    
            .row {
                margin-left: -0.781vw;
                margin-right: -0.781vw;
            }
            .header {
                padding-top: 15px;
                padding-right: 15px;
                img {
                    width: 22px;
                    height: auto;
                    cursor: pointer;
                }
            }
            .content {
                width: 100%;
                position: relative;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center; 
                min-height: 17vw;

                .thankLightbox {
                    height: 100vh;
                    width: 100vw;
                    .thankConten {
                        position: absolute;
                        top: 50%;
                        width: 85%;
                        transform: translateX(-50%) translateY(-50%);
                        left: 50%;
                    }
                }
            }
        }
    }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 768px) 
and (orientation: portrait){ 
    .root {
        .boxContent {
            min-width: 60vw;
            min-height: 30vw;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #000;
            transform: translateX(-50%) translateY(-50%);
    
            .row {
                margin-left: -0.781vw;
                margin-right: -0.781vw;
            }
            .header {
                padding-top: 0.781vw;
                padding-right: 1.823vw;
                img {
                    width: 22px;
                    height: auto;
                    cursor: pointer;
                }
            }
            .content {
                width: 100%;
                position: relative;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center; 
                min-height: 17vw;
            }
        }
      }

}
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape){  
    .root {
        .boxContent {
            min-width: 50vw;
            min-height: 25vw;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #000;
            transform: translateX(-50%) translateY(-50%);
    
            .row {
                margin-left: -0.781vw;
                margin-right: -0.781vw;
            }
            .header {
                padding-top: 0.781vw;
                padding-right: 1.823vw;
                img {
                    width: 22px;
                    height: auto;
                    cursor: pointer;
                }
            }
            .content {
                width: 100%;
                position: relative;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center; 
                min-height: 17vw;
            }
        }
      }
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) { 
      .root {
        .boxContent {
            min-width: 50vw;
            min-height: 25vw;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #000;
            transform: translateX(-50%) translateY(-50%);
    
            .row {
                margin-left: -0.781vw;
                margin-right: -0.781vw;
            }
            .header {
                padding-top: 0.781vw;
                padding-right: 1.823vw;
                img {
                    width: 22px;
                    height: auto;
                    cursor: pointer;
                }
            }
            .content {
                width: 100%;
                position: relative;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center; 
                min-height: 17vw;
            }
        }
      }
    
  }