.Container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-bottom:0px;
}
.Container::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';

    /* Any overlay color that you want, here I use black with 25% opacity */
    background-color: rgba(0,0,0,0.75);
}

/* Style the video: 100% width and height to cover the entire window */
.Video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
  /* Add some content at the bottom of the video/page */
  .Content {
    position: absolute;
    top: 0;
    color:#f1f1f1;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .SubContent {
      text-align: center;
      padding: 10px;
    }
  .SubContent p {
      color: #eeeeeead;
      font-size: 1.3rem;
  }
  .SubContent button {
      font-weight: bold;
      margin-top: 30px;
      color: #f1f1f1;
      border: #f1f1f1 1px solid;
      padding: 10px 5px;
      background-color: hsla(0, 0%, 0%, 0);
      font-size: 1.25rem;
      border-radius: 5px;
  }
  .SubContent button:hover {
      background-color: #f1f1f1;
      color: #000000c0;
  }

  .SubContent img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    border: #f1f1f1 1px solid;
  }